<!-- <div class="mini-header"></div> -->
<!-- <div class="profile-page"> -->
<div class="container">

  <% if @plan %>

    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="card-title">
          Complete Your Account
        </div>
        <p>
          All of your information is private and secure.  Payments are processed by Stripe.
            Stripe is certified to PCI Service Provider Level 1, the most stringent level of certification available in the payments industry.
          <%= link_to "https://stripe.com/docs/security/stripe", target: "_blank", style: "color: white; text-decoration: underline;" do %>
            Read more about Stripe's security.
          <% end %>
        </p>
      </div>
    </div>

    <% end %>

    <div class="card" style="background: #f9f9f9;">

      <%= form_tag connect_payment_path, id: "payment-form" do %>
        <div class="card-content">

          <p>Personal Info</p>

          <div class="row">
            <div class="input-field col s12 m6 l6">
              <%= text_field_tag :first_name %>
              <%= label_tag :first_name %>
            </div>

            <div class="input-field col s12 m6 l6">
              <%= text_field_tag :last_name %>
              <%= label_tag :last_name %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= email_field_tag :email, @person.email %>
              <%= label_tag :email %>
            </div>
          </div>

          <!-- <hr class="faint"> -->

        <% if @plan %>

          <p class="debit-explanation">
            Card Info
          </p>
          <span class="payment-errors"></span>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <input class="ccInput cc-num" type="tel" size="20" placeholder="&#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;" autocompletetype="cc-number" data-stripe="number">
              <span class="card-icon" aria-hidden="true"></span>
              <label>
                Card Number
              </label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6 m6 l6">
              <input class="ccInput cc-exp" type="tel" size="2" placeholder="MM/YY" autocompletetype="cc-exp" data-stripe="exp">
              <label>
                Expiration
              </label>
            </div>
            <div class="input-field col s6 m6 l6">
              <input class="ccInput cc-cvc" type="tel" size="4" placeholder="&#8226;&#8226;&#8226;" autocomplete="off" data-stripe="cvc">
              <label>
                CVC
              </label>
            </div>
          </div>

          <%# TODO: Change this currency to be a select as I add more countries %>
          <input type="hidden" value="usd" data-stripe="currency">
          <input type="hidden" name="plan" value="<%= @plan %>">


          <p class="agreement-line">
            By registering you agree to our <%= link_to 'terms of service', tos_path, target: '_blank' %>.
          </p>

        <% end %>

        </div>
        <div class="card-action edit-profile-actions">
          <input type="submit" class="submit btn waves-effect waves-light" value="Sign Up">
        </div>
      <% end %>

  </div>
</div>

<script>
  Stripe.setPublishableKey("<%= ENV['stripe_publishable_key'] %>");
  $('input.cc-num').payment('formatCardNumber');
  $('input.cc-exp').payment('formatCardExpiry');
  $('input.cc-cvc').payment('formatCardCVC');

  var validateDetails = function() {

    var expiry = $('.cc-exp').payment('cardExpiryVal');
    var validateExpiry = $.payment.validateCardExpiry(expiry["month"], expiry["year"]);
    var validateCVC = $.payment.validateCardCVC($('.cc-cvc').val());

    if (validateExpiry) {
      $('.cc-exp').addClass('identified');
      $('.cc-exp').addClass('valid');
    } else {
      $('.cc-exp').removeClass('identified');
      $('.cc-exp').removeClass('valid');
    }

    if (validateCVC) {
      $('.cc-cvc').addClass('identified');
      $('.cc-cvc').addClass('valid');
    } else {
      $('.cc-cvc').removeClass('identified');
      $('.cc-cvc').removeClass('valid');
    }


    if (Stripe.validateCardNumber($('input.cc-num').val())) {
      $('.cc-num').addClass("valid");
      $('.cc-num').removeClass("invalid");
    } else {
      $('.cc-num').removeClass("valid");
      $('.cc-num').addClass("invalid");
    }

  }

  $('.ccInput').bind('change paste keyup', function() {
    validateDetails();
  });

  <% if @plan %>

  $(function() {
    var $form = $('#payment-form');

    $form.submit(function(event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('.submit').prop('disabled', true);

      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });

  <% end %>

  function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.payment-errors').show();
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;
      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  };

</script>
