<div class="card-content">
  <h4>Create Team</h4>

  <%= form_for(team, remote: true) do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div>
      <div class="profile-header">
      <% if team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
          <% team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


        <%= f.label :logo  do %>
          <div class="profile-avatar">
            <div class="section__circle--big large-avatar editable">
                <img id="logo" src="<%= @team.logo %>">
                <div class="change-label">Upload logo</div>
            </div>
          </div>
        <% end %>
        <%= f.file_field :logo, style: "display: none;", class: 'photo_upload', onchange: "loadLogo(event)" %>

        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :name, class: "validate", required: true %>
            <%= f.label :team_name, data_error: "Hmm, not going to cut it.", data_success: "Nailed it!" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input class="colorpicker" type="color" name="team[color]" id="team_color" value="<%= @team.color %>" />
          </div>
        </div>

    </div>
    </div>

</div>

<div class="edit-profile-actions card-action">
  <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
    Create Team
  <% end %>
</div>

<% end %>
