<ul class="collection team">
  <li>
    <ul class="collapsible team" data-collapsible="accordion">
      <% team.fees.each do |fee| %>
        <li>
            <a href="<%= fee_path(fee) %>" class="collapsible-header team-season-item">
              <div>
                <%= fee.label %>
              </div>
              <div>
                <i
                  class="material-icons"
                  <% if fee.total_paid >= fee.total_amount %>
                    style="color: #4a4a4a;"
                  <% else %>
                    style="color: tomato;"
                  <% end %>
                >attach_money</i>
              </div>
            </a>
          </li>
        <% end %>
     </ul>
  </li>
  <li class="collection-item avatar valign-wrapper" style="padding-left: 15px;">
      <a href="<%= new_fee_path(:team => team.id) %>" class="btn-floating btn waves-effect waves-light valign" style="background-color: <%= team.color %>; height: 42px; width: 42px;">
        <i class="material-icons" style="line-height: 42px;">add</i>
      </a>
    <%= link_to new_fee_path(:team => team.id) do %>
      <span class="valign" style="margin-left: 15px">Create New Fee</span>
    <% end %>
  </li>
 </ul>
