<ul class="collection team">
  <li>
    <ul class="collapsible team" data-collapsible="accordion">
        <% team.team_seasons.each do |team_season| %>
          <%= render 'team_seasons/collapsible_item', team_season: team_season, team: team %>
          <div id="season-modal-<%= team_season.id %>" class="modal bottom-sheet">
            <%= render 'team_seasons/season_modal_form', season: team_season.season, team_season: team_season %>
          </div>
        <% end %>
     </ul>
  </li>
  <li class="collection-item avatar valign-wrapper" style="padding-left: 15px;">
      <a href="<%= new_team_season_path(:team => team.id) %>" class="btn-floating btn waves-effect waves-light valign" style="background-color: <%= team.color %>; height: 42px; width: 42px;">
        <i class="material-icons" style="line-height: 42px;">add</i>
      </a>
    <%= link_to new_team_season_path(:team => team.id) do %>
      <span class="valign" style="margin-left: 15px">Create New Season</span>
    <% end %>
  </li>
 </ul>
