<div class="main-content container">
  <div class="team-header hide-on-med-and-down">
    <div class="team-logo-container">
      <div class="section__circle--big large-avatar">
        <%= image_tag "#{@team.display_logo}", class: "team-logo-img" %>
      </div>
    </div>
    <div class="center-align team-name">
      <h3>
        <span class="flow-text"><%= @team.name %></span>
        <!-- <a href="<%= edit_team_path(@team) %>" class="edit-team-link">Edit</a> -->
      </h3>
    </div>
  </div>

  <div class="card team-card">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4"><a class="active" href="#players">Players</a></li>
          <li class="tab col s4"><a  href="#seasons">Seasons</a></li>
          <li class="tab col s4"><a  href="#edit-tab">Edit</a></li>
        </ul>
      </div>
      <div id="players" class="col s12">

        <%= render 'players_card', team: @team, pending_invitations: @pending_invitations %>

      </div>
      <div id="seasons" class="col s12">

        <%= render 'seasons_card', team: @team %>

      </div>
      <div id="edit-tab" class="col s12">

        <%= render 'form', team: @team %>

      </div>

    </div>
  </div>

</div>
