<div class="container">

  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <div class="card-title">
        <%= @season.league.name %> starting <%= @season.start_date.strftime("%B #{@season.start_date.day.ordinalize} %Y") %>
      </div>
      <!-- <p>
        Manage this season's details.
      </p>
      <p class="flow-text">
        Season URL
      </p> -->
      <p>
        Use this link to share the season page on your website, social media, email, etc.
      </p>

      <blockquote style="background: rgba(0,0,0,0.28); padding: 1.2rem;">
        <%= season_url(@season) %>
      </blockquote>

    </div>
  </div>

  <div class="card team-card">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4"><a class="active" href="#seasons">Team Captains</a></li>
          <li class="tab col s4"><a href="#edit-tab">Edit Season</a></li>
        </ul>
      </div>
      <div id="seasons" class="col s12">
        <ul class="collection team">
          <li>
            <ul class="collapsible team" data-collapsible="accordion">
              <% @season.team_seasons.each do |team_season| %>

                <li class="captain-list-item">
                  <a href="mailto:<%= team_season.treasurer.email %>" class="collapsible-header team-season-item">
                    <i class="material-icons">person</i>
                    <div class="captain-content">
                      <%= team_season.treasurer.first_name %> <%= team_season.treasurer.last_name %>
                      <div class="captain-email">
                        <%= team_season.treasurer.email %>
                      </div>
                    </div>
                  </a>
                </li>
              <% end %>
            </ul>
          </li>

        </ul>
      </div>
      <div id="edit-tab" class="col s12">
        <%= render 'form', season: @season %>
      </div>

    </div>
  </div>

</div>
