<div class="container">
  <div class="card">
    <div class="card-content">
        <%= form_for(@season) do |f| %>
          <% if @season.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@season.errors.count, "error") %> prohibited this @season from being saved:</h2>
              <ul>
              <% @season.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="container">


            <div class="input-field col s12">
              <%= f.text_field :cost, class: "validate", pattern: '-?[0-9]*(\.[0-9]+)?' %>
              <%= f.label :season_cost %>
            </div>

            <div class="input-field col s12">
              <%= f.text_field :min_players, class: "validate", pattern: '-?[0-9]*(\.[0-9]+)?' %>
              <%= f.label :minimum_number_of_players %>
            </div>

            <!-- <div class="switch">
              <label>
                Off
                <input type="checkbox" id="payment-switch">
                <span class="lever"></span>
                On
              </label>
            </div> -->

            <div class="sub-merchant-form">
              This is the submerchant form
              <%= fields_for @season.treasurer do |t_form| %>
                <div class="input-field col s12">
                  <%= t_form.date_field :date_of_birth, class: "datepicker birthdate" %>
                  <%= t_form.label :date_of_birth %>
                </div>
                <div class="input-field col s12">
                  <%= t_form.text_field :street_address %>
                  <%= t_form.label :street_address %>
                </div>
                <div class="input-field col s12">
                  <%= t_form.text_field :locality %>
                  <%= t_form.label :city %>
                </div>
                <div class="input-field col s12">
                  <%= t_form.text_field :region %>
                  <%= t_form.label :state %>
                </div>
                <div class="input-field col s12">
                  <%= t_form.text_field :postal_code %>
                  <%= t_form.label :zip %>
                </div>
              <% end %>
            </div>

          </div>

          <div class="main-content__card-actions--end card-action">
            <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
              Save
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<script>
  $("#payment-switch").click(function(){
     $(".sub-merchant-form").toggle();
  })
</script>
