<div class="guts--narrow__centered">
  <p><%= @season.team.name %></p>
  <p><%= @season.league_name %></p>
  <p><%= @season.website %></p>
  <p><%= @season.location %></p>
  <p><%= @season.start_date %></p>
  <p><%= @season.end_date %></p>
  <p><%= @season.cost %></p>
  <p><%= @season.total_games %></p>
  <p><%= @season.format %></p>
  <p><%= @season.min_players %></p>
</div>
