<% if @team != nil %>
  <% bg_color = @team.color %>
<% else %>
  <% bg_color = "#FFFFFF" %>
  <% secondary_color = "#f6f6f6" %>
<% end %>

<div class="profile-page">
  <div class="profile-card card">
  <%= form_for(@profile, url: profile_path, method: :put) do |f| %>
    <div class="mdl-card__title mdl-card--expand">
      <div class="profile-header">
        <%= f.label :avatar  do %>
          <% if @person.avatar.length > 1 then %>
            <div class="profile-avatar">
              <div class="section__circle--big large-avatar editable">
                  <img id="avatar" src="<%= @person.avatar %>">
                  <div class="change-label">Change</div>
              </div>
            </div>
          <% else %>
            <div class="profile-avatar">
              <div class="section__circle--big large-avatar editable">
                  <%= image_tag "anonymous_material.png", id: "avatar" %>
                  <div class="change-label">Change</div>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= f.file_field :avatar, style: "display: none;", class: 'photo_upload', onchange: "loadFile(event)" %>

        <div class="guts--narrow__centered">

          <div class="input-field col s12">
            <%= f.text_field :first_name, class: "mdl-textfield__input" %>
            <%= f.label :first_name, class: "mdl-textfield__label" %>
          </div>

          <div class="input-field col s12">
            <%= f.text_field :last_name, class: "mdl-textfield__input" %>
            <%= f.label :last_name, class: "mdl-textfield__label" %>
          </div>

          <div class="input-field col s12">
            <%= f.email_field :email, class: "mdl-textfield__input" %>
            <%= f.label :email, class: "mdl-textfield__label" %>
          </div>

          <div class="input-field col s12">
            <%= f.text_field :phone, class: "mdl-textfield__input" %>
            <%= f.label :phone, class: "mdl-textfield__label" %>
          </div>

        </div>
      </div>
    </div>
    <div class="edit-profile-actions card-action">
      <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
        Save
      <% end %>
    </div>
  <% end %>
  </div>
</div>
