<%= form_for(note, remote: true) do |f| %>
  <div class="card-content">
    <% if note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :contact_id, value: contact.id %>
    <%= f.hidden_field :body %>

    <div class="editable">
      <%= raw(note.body) %>
    </div>
  </div>
  <div class="edit-profile-actions card-action">
    <% if note.id %>
      <%= link_to 'Delete This Note', note, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <%= button_tag(id: "submit", type: 'submit', class: "btn waves-effect waves-light") do %>
      Save
    <% end %>
  </div>
<% end %>

<script>
  var editor = new MediumEditor('.editable', {
    // options go here
    placeholder: {
        /* This example includes the default options for placeholder,
           if nothing is passed this is what it used */
        text: 'Start typing here.',
        hideOnClick: true
    }
  });

  editor.subscribe('editableInput', function (event, editable) {
    // Do some work
    $('#note_body').val($(editable).html())
  });
</script>
