<div id="cover-map">
  <div class="registration-header">
    <div class="registration-title">
      <%= @league.name %>
    </div>
  </div>
</div>
<div class="container">
  <% if @league.seasons.length > 0 %>
    <ul class="collapsible popout" data-collapsible="accordion">
      <% @league.seasons.each do |season| %>
        <%= render "seasons/collapsible_item", season: season %>
      <% end %>
    </ul>
  <% else %>
    <div class="card">
      <div class="card-content">
        <h2>Whoa there, pioneer.</h2>
        <p class="flow-text">It looks like <%= @league.org.name %> is not listing any seasons for this league yet.  If you are an administrator, login to create a season <a href="<%= new_person_session_path %>">here</a>.</p>
        <br/>
        <p class="flow-text">If you are a not an administrator, you may be able to learn more about this league on <a href="http://<%= @league.org.external_link %>">their website</a>.</p>
      </div>
    </div>
  <% end %>
</div>
