<div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">6
      <% if @person.avatar != nil then %>
        <img class="mdl-list__item-avatar" src="<%= @person.avatar %>">
      <% else %>
        <i class="material-icons mdl-list__item-avatar">face</i>
      <% end %>
    </div>
    <div class="mdl-cell mdl-cell--4-col">4</div>
    <div class="mdl-cell mdl-cell--2-col">2</div>
  </div>
  <div class="right-pane">
    <div class="guts--narrow__centered">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" name="person[email]" id="person_email" autofocus="true">
          <label class="mdl-textfield__label" for="person_email"><%= f.label :email %></label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="person[first_name]" id="person_first_name">
          <label class="mdl-textfield__label" for="person_first_name"><%= f.label :first_name %></label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="person[last_name]" id="person_last_name">
          <label class="mdl-textfield__label" for="person_last_name"><%= f.label :last_name %></label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="file" name="person[avatar]" id="person_avatar">
          <label class="mdl-textfield__label" for="person_avatar"><%= f.label :avatar %></label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" name="person[password]" id="person_password" autocomplete="off">
          <label class="mdl-textfield__label" for="person_password"><%= f.label :new_password %></label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" name="person[password_confirmation]" id="person_password_confirmation" autocomplete="off">
          <label class="mdl-textfield__label" for="person_password_confirmation"><%= f.label :confirm_password %></label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" name="person[current_password]" id="current_person_password" autocomplete="off">
          <label class="mdl-textfield__label" for="current_person_password"><%= f.label :current_password %></label>
        </div>

        <%= button_tag(type: 'submit', class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") do %>
          Update
        <% end %>
      <% end %>
      <div>
        <%= button_to "Delete Account", registration_path(resource_name), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>
</div>
