<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Edit reminder for <%= @reminder.contact.first_name %> <%= @reminder.contact.last_name %>
      </div>
    </div>

    <%= form_for(@reminder) do |f| %>
      <div class="card-content">
        <% if @reminder.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

            <ul>
            <% @reminder.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.hidden_field :contact_id, value: @contact.id %>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :label %>
            <%= f.label :label %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m6 l6">
            <%= f.date_field :next_date, class: "datepicker reminder", required: true %>
            <%= f.label :next_date %>
          </div>

          <div class="input-field col s12 m6 l6">
            <%= f.select :interval, options_for_select([
              ['One Time', "one-time", {disabled: false, selected: true}],
              ['Daily','daily'],
              ['Weekly', 'weekly'],
              ['Monthly','monthly'],
              ['Yearly','annually']
              ]) %>
            <%= f.label :repeat %>
          </div>
        </div>
      </div>
      <div class="edit-profile-actions card-action">
        <% if @reminder.id %>
          <%= link_to 'Delete This Reminder', @reminder, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

        <%= button_tag(id: "submit", type: 'submit', class: "btn waves-effect waves-light") do %>
          Save
        <% end %>
      </div>
    <% end %>


  </div>
</div>

<script>

  $( document ).ready(function() {
    $('select').material_select('destroy');
    $('select').material_select();
    $('.reminder').pickadate({

      selectMonths: true, // Creates a dropdown to control month
      selectYears: 3, // Creates a dropdown of years without a limited range
      min: new Date()
      // selectYears: 2 // Creates a dropdown of 2 years to control year
    });
  });
</script>
