<% if @team_season.team != nil %>
  <% team_color = @team_season.team.color %>
<% end %>

<div class="card">

  <div id="season-map">
  </div>
  <div class="sport-indicator">
    <!-- <img src="https://www.svgimages.com/svg-image/s4/soccer-ball-icon-256x256.png" class="sport-icon"/> -->
    <%= image_tag "#{@team.display_logo}", style: "border-radius: 50%;"%>
  </div>
  <div class="content-section">
    <div class="season-logistics flow-text">
      <% timeframe_array = [] %>
      <% @team_season.season.timeframes.each do |timeframe| %>
        <% timeframe_array.push(timeframe.friendly_label)  %>
      <% end %>
      <%= timeframe_array.to_sentence  %>
       at
      <span class="detail-value">
        <%= @team_season.season.location %>
      </span>
    </div>
    <div class="season-dates">
      <% if @team_season.season.start_date != nil %>
        <span>Starts <%= @team_season.season.start_date.strftime("%B #{@team_season.season.start_date.day.ordinalize}") %></span>
      <% end %>
    </div>

    <!-- <% if @team_season.cost != nil %>
      <div class="season-signup">
        <div><span><span class="season-cost">$<%= @team_season.cost %></span> / team</span><span class="season-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="color: <%= team_color %>;">Let's Go</span></div>
        <hr class="faint">
        <div><span><span class="season-cost">$<%= @team_season.cost/@team_season.min_players %></span> / player</span><span class="season-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="color: <%= team_color %>;">Let's Go</span></div>
      </div>
    <% end %> -->
  </div>
  <% if @team_season.team.player_avatars != [] %>
  <div class="content-section">
    <div class="section-header">
      <h2 style="color: <%= team_color %>;"><%= @team_season.team.name %></h2>
      <hr class="faint">
      <ul class="reg-list">
      <% @team_season.team.player_avatars.first(5).each do |person| %>
          <li class="reg-list__item">
             <img class="reg-list__item-avatar" src="<%= person.avatar %>">
             <div><%= person.first_name %></div>
          </li>
      <% end %>
      </ul>
    </div>
    <div class="section-block">
    </div>
  </div>
  <% end %>
  <% if @team_season.season.cost != nil || @team_season.season.format != nil || @team_season.season.total_games != nil || @team_season.min_players != nil %>
    <div class="content-section">
      <div class="section-header">
        <h2>Details</h2>
        <hr class="faint">
      </div>
      <div class="section-block">
        <% if @team_season.cost != nil %>
        <div class="detail-item">
          <span class="detail-label">Cost: </span>
            <span class="detail-value"><%= number_to_currency(@payment[:charge_amount] / 100.0)  %></span>
        </div>
        <% end %>
        <% if @team_season.season.location != nil %>
        <div class="detail-item">
          <span class="detail-label">Location: </span>
          <span class="detail-value">
            <%= link_to "https://www.google.com/search?q=#{@team_season.season.location}" do %>
              <%= @team_season.season.location %>
            <% end %>
          </span>
        </div>
        <% end %>
        <% if @team_season.season.format != "" %>
        <div class="detail-item">
          <span class="detail-label">Format: </span>
          <span class="detail-value"><%= @team_season.season.format %></span>
        </div>
        <% end %>
        <% if @team_season.season.total_games != nil %>
        <div class="detail-item">
          <span class="detail-label">Number of games: </span>
          <span class="detail-value"><%= @team_season.season.total_games %></span>
        </div>
        <% end %>
        <% if @team_season.min_players != nil %>
        <div class="detail-item">
          <span class="detail-label">Roster Size: </span>
          <span class="detail-value"><%= @team_season.min_players %></span>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="edit-profile-actions card-actions--split card-action">
    <%= link_to decline_season_path(@team_season), class: "waves-effect waves-light btn-flat deep-orange-text " do %>
      <span class="hide-on-small-only">Bummer, </span>I'm Out
    <% end %>
    <%= link_to accept_season_path(@team_season), class: "waves-effect waves-light btn green darken-1" do %>
      <span class="hide-on-small-only">Yes, </span>I'm In!
    <% end %>
  </div>
</div>

<script>

  var mapStyle = [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]

  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      zoom:      12,
      center:    new google.maps.LatLng("<%= @team_season.season.default_location.latitude %>", "<%= @team_season.season.default_location.longitude %>"),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles:    mapStyle
    },
    internal: {id: 'season-map'},

  }, function(){

    markers = handler.addMarkers([
      {
        "lat": "<%= @team_season.season.default_location.latitude %>",
        "lng": "<%= @team_season.season.default_location.longitude %>",
        "picture": {
          "url": "<%= image_path 'star-marker.png' %>",
          "width":  16,
          "height": 16
        },
        "infowindow": "This is the default location for the season: <%= @team_season.season.default_location.address %>"
      }
    ]);
    handler.bounds.extendWith(markers);
  });
</script>
