<ul class="collection with-header">
  <li class="collection-header">
    <h4>Season Details</h4>
    <div class="season-details-action-icons">
      <i class="material-icons">mode_edit</i>

      <% if team_season.status == "open" %>
        <%= link_to team_season_path(team_season, "status" => "closed"), remote: true, method: :put do %>
          <i class="material-icons">lock</i>
        <% end %>
      <% elsif team_season.status == "closed" %>
        <%= link_to team_season_path(team_season, "status" => "open"), remote: true, method: :put do %>
          <i class="material-icons">lock_open</i>
        <% end %>
        <%= link_to team_season_path(team_season, "status" => "archived"), remote: true, method: :put, data: { confirm: "Are you sure you want to archive this?" } do %>
          <i class="material-icons">archive</i>
        <% end %>
      <% else %>
        <%= link_to team_season_path(team_season, "status" => "closed"), remote: true, method: :put do %>
          <i class="material-icons">unarchive</i>
        <% end %>
      <% end %>

    </div>
  </li>

  <li class="season-details-section">
    <%= render 'seasons/season_details', season: team_season.season, team_season: team_season %>
  </li>


  <li class="collection-header"><h4>Players</h4><div><%= team_season.season_participations.count %> committed <span>/ <%= team_season.min_players %></span><span class="hide-on-small-only"> minimum</span></div></li>
  <% team_season.people.each do |person| %>
    <li class="collection-item avatar valign-wrapper">
     <%= link_to profile_path(person) do %>
       <% if person.avatar.length > 2 then %>
       <img class="circle" src="<%= person.avatar %>">
       <% else %>
       <i class="material-icons circle valign">account_circle</i>
       <% end %>
     <% end %>
     <%= link_to profile_path(person) do %>
       <span class="valign"><%= person.first_name %> <%= person.last_name %></span>
     <% end %>
      <div class="secondary-content valign">

        <% if person.season_participations.where(team_season_id: team_season.id).first.amount_paid >= team_season.new_player_cost %>
          <span class="secondary-content" style="color: #6FA135;">Paid</span>
        <% else %>
          <span class="secondary-content" style="color: tomato;">Unpaid</span>
        <% end %>

        <!-- <i
          class="material-icons secondary-content valign"
          <% if person.season_participations.where(team_season_id: team_season.id).first.amount_paid >= team_season.new_player_cost %>
            style="color: #6FA135;"
          <% else %>
            style="color: tomato;"
          <% end %>
        >attach_money</i> -->
      </div>
    </li>
  <% end %>
  <li class="collection-header"><h4>Season Invite Page</h4></li>
  <li>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p class="flow-text">
          Invite people to play this season with this link:
        </p>

        <div class="block-container">
          <code class="share-link">
            <span>
              <%= team_season_url(team_season) %>
            </span>
          </code>
        </div>
      </div>
      <div class="card-action edit-profile-actions">
        <%= link_to "View Page", team_season_path(team_season), class: "btn waves-effect waves-light", target: "_blank" %>
      </div>
    </div>
  </li>
</ul>
