<ul class="collection with-header">
  <li>
    <%= render 'team_seasons/invite_page_link_card', team_season: team_season %>
  </li>
  <li>
    <%= render 'team_seasons/disbursal_card', team_season: team_season %>
  </li>


  <div class="card">
    <div class="card-title with-actions">
      <span>Players</span><span class="details"><%= team_season.season_participations.count %> committed / <%= team_season.min_players %><span class="hide-on-small-only"> minimum</span></span>
    </div>
    <div class="card-content">

      <% team_season.people.each do |person| %>
        <li class="collection-item avatar valign-wrapper">
         <%= link_to profile_path(person) do %>
           <% if person.avatar.length > 2 then %>
           <img class="circle" src="<%= person.avatar %>">
           <% else %>
           <i class="material-icons circle valign">account_circle</i>
           <% end %>
         <% end %>
         <%= link_to profile_path(person) do %>
           <span class="valign"><%= person.first_name %> <%= person.last_name %></span>
         <% end %>
          <div class="secondary-content valign">

            <% if person.season_participations.where(team_season_id: team_season.id).first.amount_paid >= team_season.new_player_cost %>
              <span class="secondary-content" style="color: #6FA135;">Paid</span>
            <% else %>
              <span class="secondary-content" style="color: tomato;">Unpaid</span>
            <% end %>

            <!-- <i
              class="material-icons secondary-content valign"
              <% if person.season_participations.where(team_season_id: team_season.id).first.amount_paid >= team_season.new_player_cost %>
                style="color: #6FA135;"
              <% else %>
                style="color: tomato;"
              <% end %>
            >attach_money</i> -->
          </div>
        </li>
      <% end %>

    </div>
    <div class="card-action edit-profile-actions">
      <%= link_to "Email Everyone", "#", class: "btn waves-effect waves-light", target: "_blank" %>
    </div>
  </div>



  <div class="card">
    <div class="card-title with-actions">
      <span>Details</span>
      <!-- <span class="details">
        <a class="modal-trigger" href="#season-modal-<%= team_season.id %>">
          <i class="material-icons">mode_edit</i>
        </a>

        <% if team_season.status == "open" %>
          <%= link_to team_season_path(team_season, "status" => "closed"), remote: true, method: :put do %>
            <i class="material-icons">lock</i>
          <% end %>
        <% elsif team_season.status == "closed" %>
          <%= link_to team_season_path(team_season, "status" => "open"), remote: true, method: :put do %>
            <i class="material-icons">lock_open</i>
          <% end %>
          <%= link_to team_season_path(team_season, "status" => "archived"), remote: true, method: :put, data: { confirm: "Are you sure you want to archive this?" } do %>
            <i class="material-icons">archive</i>
          <% end %>
        <% else %>
          <%= link_to team_season_path(team_season, "status" => "closed"), remote: true, method: :put do %>
            <i class="material-icons">unarchive</i>
          <% end %>
        <% end %>
      </span> -->
    </div>
    <div class="card-content">
      <%= render 'seasons/season_details', season: team_season.season, team_season: team_season %>
    </div>
    <div class="card-action edit-profile-actions">
      <a class="modal-trigger btn waves-effect waves-light" href="#season-modal-<%= team_season.id %>" target="_blank">
        Edit Season
      </a>
    </div>
  </div>

</ul>
