<div class="card">
  <div class="card-title with-actions">
    <span>Payment</span><span class="details"><%= number_to_currency(team_season.net_paid / 100.0) %> / <%= number_to_currency(team_season.cost) %></span>
  </div>
  <div class="card-content">

    <div class="disbursal-detail"><span>Total Paid:</span><span><%= number_to_currency(team_season.net_paid / 100.0) %></span></div>
    <div class="disbursal-detail"><span>Already Transferred:</span><span><%= number_to_currency(team_season.disbursed_amount / 100.0) %></span></div>
    <hr class="faint">
    <div class="disbursal-detail"><span>Current Balance:</span><span><%= number_to_currency(team_season.current_balance / 100.0) %></span></div>

  </div>
  <% if team_season.current_balance > 0 %>
    <div class="card-action edit-profile-actions">
      <!-- <%= link_to "Distribute Surplus", dist_surplus_path(team_season), class: "waves-effect waves-light" %> -->
      <%= link_to "Disburse Funds", disburse_path(team_season), class: "btn waves-effect waves-light" %>
    </div>
  <% end %>
</div>
