<div class="mdl-card__title mdl-card--expand">
  <div class="main-content__form">
    <%= form_for(season) do |f| %>
      <% if season.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>
          <ul>
          <% season.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if team != nil %>
        <%= f.hidden_field :team_id, value: team.id %>
      <% end %>

      <div class="container">
        <div class="row">

          <div class="input-field col s12">
            <%= f.text_field :cost, pattern: '-?[0-9]*(\.[0-9]+)?' %>
            <%= f.label :season_cost %>
          </div>

          <div class="input-field col s12">
            <%= f.text_field :min_players, pattern: '-?[0-9]*(\.[0-9]+)?' %>
            <%= f.label :minimum_number_of_players %>
          </div>

          <div class="input-field col s12">
            <%= f.text_field :max_players, pattern: '-?[0-9]*(\.[0-9]+)?' %>
            <%= f.label :maximum_number_of_players %>
          </div>

        </div>
      </div>

      <div class="card-action edit-profile-actions">
        <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
          Save Season
        <% end %>
      </div>
    <% end %>
  </div>
</div>
