<%= form_for(person, url: profile_path(person), remote: true) do |f| %>
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <%= f.text_field :first_name %>
          <%= f.label :first_name %>
        </div>

        <div class="input-field col s12 m6 l6">
          <%= f.text_field :last_name %>
          <%= f.label :last_name %>
        </div>
      </div>

      <hr class="faint">

      <div class="row">
        <div class="input-field col s12 m6 l6">
          <%= f.email_field :email %>
          <%= f.label :email %>
        </div>

        <div class="input-field col s12 m6 l6">
          <%= f.date_field :date_of_birth, class: "datepicker birthdate" %>
          <%= f.label :date_of_birth %>
        </div>
      </div>

      <hr class="faint">

      <div class="row">
        <div class="input-field col s12 m6 l6">
          <%= f.text_field :street_address %>
          <%= f.label :street_address %>
        </div>
        <div class="input-field col s12 m6 l6">
          <%= f.text_field :locality %>
          <%= f.label :city %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6 l6">
          <%= f.select :region, options_for_select([
            ['Select State', "", {disabled: true, selected: true}],
            ['AL', 'AL'],
            ['AK','AK'],
            ['AZ','AZ'],
            ['AR','AR'],
            ['CA','CA'],
            ['CO','CO'],
            ['CT','CT'],
            ['DE','DE'],
            ['FL','FL'],
            ['GA','GA'],
            ['HI','HI'],
            ['ID','ID'],
            ['IL','IL'],
            ['IN','IN'],
            ['IA','IA'],
            ['KS','KS'],
            ['KY','KY'],
            ['LA','LA'],
            ['ME','ME'],
            ['MD','MD'],
            ['MA','MA'],
            ['MI','MI'],
            ['MN','MN'],
            ['MS','MS'],
            ['MO','MO'],
            ['MT','MT'],
            ['NE','NE'],
            ['NV','NV'],
            ['NH','NH'],
            ['NJ','NJ'],
            ['NM','NM'],
            ['NY','NY'],
            ['NC','NC'],
            ['ND','ND'],
            ['OH','OH'],
            ['OK','OK'],
            ['OR','OR'],
            ['PA','PA'],
            ['RI','RI'],
            ['SC','SC'],
            ['SD','SD'],
            ['TN','TN'],
            ['TX','TX'],
            ['UT','UT'],
            ['VT','VT'],
            ['VA','VA'],
            ['WA','WA'],
            ['WV','WV'],
            ['WI','WI'],
            ['WY','WY']
            ]) %>
          <%= f.label :state %>
        </div>

        <div class="input-field col s12 m6 l6">
          <%= f.text_field :postal_code %>
          <%= f.label :zip %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= button_tag(type: 'submit', class: "modal-action modal-close btn waves-effect waves-light") do %>
      Save Treasurer
    <% end %>
  </div>
<% end %>
