<%= form_for(season, remote: true) do |f| %>
  <div class="modal-content">
    <% if season.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>
        <ul>
        <% season.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="container">

      <div class="row">
        <div class="input-field col s12 m6 l6">
          <%= f.text_field :location %>
          <%= f.label :season_location_full_address %>
        </div>

        <div class="input-field col s12 m6 l6">
          <%= f.text_field :website %>
          <%= f.label :season_website %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6 l6">
          <%= f.date_field :start_date, class: "datepicker season-date" %>
          <%= f.label :season_start_date %>
        </div>

        <div class="input-field col s12 m6 l6">
          <%= f.text_field :total_games %>
          <%= f.label :total_number_of_games%>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6 l6">
          <%= f.text_field :cost %>
          <%= f.label :season_cost %>
        </div>

        <div class="input-field col s12 m6 l6">
          <%= f.select :format, options_for_select([
            ['Select the format', "", {disabled: true, selected: true}],
            ['3 v 3', '3 v 3'],
            ['4 v 4','4 v 4'],
            ['5 v 5','5 v 5'],
            ['6 v 6','6 v 6'],
            ['7 v 7','7 v 7'],
            ['8 v 8','8 v 8'],
            ['9 v 9','9 v 9'],
            ['10 v 10','10 v 10'],
            ['11 v 11','11 v 11']
            ]) %>
          <%= f.label :game_format %>
        </div>
      </div>

      <div class="row">



        <% season.team_seasons.each do |t_season| %>
          <% if t_season === team_season %>
            <%= f.fields_for :team_seasons, t_season do |team_seasons_fields| %>

              <div class="input-field col s12 m6 l6">
                <%= team_seasons_fields.text_field :min_players %>
                <%= team_seasons_fields.label :minimum_roster_size %>
              </div>

              <div class="input-field col s12 m6 l6">
                <%= team_seasons_fields.text_field :max_players %>
                <%= team_seasons_fields.label :maximum_roster_size %>
              </div>

              <%= team_seasons_fields.hidden_field :id, value: team_season.id %>

            <% end %>
          <% end %>
        <% end %>

      </div>

      <div class="row">
        <%= button_tag(type: 'submit', class: "modal-action modal-close btn waves-effect waves-light") do %>
          Save Season
        <% end %>
      </div>
    </div>
  </div>
<% end %>
