<div class="mini-header"></div>
<div class="left-pane">
  <div>
    <%= image_tag 'awesome-sauce.gif', style: "max-width: 400px; max-height: 300px;" %>
    <div class="awesome-sauce">Awesome Sauce!</div>
  </div>
</div>

<div class="right-pane">
  <div class="season-preview-container container">
    <div class="card">
      <div class="card-content">
        <div class="season-title">
          <p style="color: <%= @team_season.team.color %>;">
            <%= @team_season.sport %>
          </p>
        </div>
        <!-- <div class="season-logistics flow-text">
          <% timeframe_array = [] %>
          <% @team_season.timeframes.each do |timeframe| %>
            <% timeframe_array.push(timeframe.friendly_label)  %>
          <% end %>
          <%= timeframe_array.to_sentence  %>
        </div> -->
        <div class="season-dates">
          <% timeframe_array = [] %>
          <% @team_season.timeframes.each do |timeframe| %>
            <% timeframe_array.push(timeframe.friendly_label)  %>
          <% end %>
          <%= timeframe_array.to_sentence  %>
        </div>
        <div class="season-dates">
          <%= @team_season.location %>
        </div>
        <div class="season-dates">
          <% if @team_season.start_date != nil %>
            <span><%= @team_season.start_date.strftime("%B #{@team_season.start_date.day.ordinalize}") %> to <%= @team_season.end_date.strftime("%B #{@team_season.end_date.day.ordinalize}") %></span>
          <% end %>
        </div>
        <% if @team_season.cost != nil %>
          <div class="season-signup">
            <div class="season-cost"><span>Season Cost:</span><span><%= number_to_currency(@team_season.new_player_cost) %></span></div>
            <div class="season-cost"><span>Service Fee:</span><span><%= number_to_currency(@team_season.new_player_cost * 0.1)  %></span></div>
            <hr>
            <div class="season-cost"><span>Total Cost:</span><span><%= number_to_currency(@team_season.new_player_cost * 1.1)  %></span></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="season-checkout-container container">
    <%= form_tag transactions_path, id: "checkout-form" do %>
      <div id="error-message"></div>


      <div class="card">
        <div class="card-content">

          <% unless @person.id %>
            <p>Please enter your personal info:</p>

            <div class="row">
              <div class="input-field col s12 m6 l6">
                <%= text_field_tag :first_name %>
                <%= label_tag :first_name %>
              </div>

              <div class="input-field col s12 m6 l6">
                <%= text_field_tag :last_name %>
                <%= label_tag :last_name %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= email_field_tag :email %>
                <%= label_tag :email %>
              </div>
            </div>
          <% end %>

            <div class="row">
              <div class="input-field col s12">
                <input placeholder="4111 1111 1111 1111" class="hosted-fields" id="card-number"></input>
                <!-- <label for="card-number">Card Number</label> -->
              </div>
            </div>

          <label for="cvv">CVV</label>
          <div class="hosted-field" id="cvv"></div>

          <label for="expiration-date">Expiration Date</label>
          <div class="hosted-field" id="expiration-date"></div>


        </div>
        <div class="card-action edit-profile-actions">
          <input class="waves-effect waves-light btn white blue-grey-text" type="submit" value="Pay <%= number_to_currency(@team_season.new_player_cost * 1.1) %>" disabled>
        </div>
      </div>


      <input type="hidden" name="season" value="<%= @team_season.id %>">
      <input type="hidden" name="person" value="<%= @person.id %>">
      <input type="hidden" name="payment-method-nonce">
    <% end %>

    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.3.0/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.3.0/js/hosted-fields.min.js"></script>

    <script>
    // We generated a client token for you so you can test out this code
    // immediately. In a production-ready integration, you will need to
    // generate a client token on your server (see section below).
    var authorization = 'eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiIwYWM2ZmE5ZDI2OTg3ODQ3M2ZlZWI2OTFlN2I4MzIwNDg5ZGVjOGY3MGE1NmMxZjBkY2I1ZWI2MTc3ZWI5OTE3fGNyZWF0ZWRfYXQ9MjAxNi0wOS0yOVQwMTo1Mjo1NS43NjgyMjg1NDYrMDAwMFx1MDAyNm1lcmNoYW50X2lkPTM0OHBrOWNnZjNiZ3l3MmJcdTAwMjZwdWJsaWNfa2V5PTJuMjQ3ZHY4OWJxOXZtcHIiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbXSwiZW52aXJvbm1lbnQiOiJzYW5kYm94IiwiY2xpZW50QXBpVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzLzM0OHBrOWNnZjNiZ3l3MmIvY2xpZW50X2FwaSIsImFzc2V0c1VybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXV0aFVybCI6Imh0dHBzOi8vYXV0aC52ZW5tby5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIiwiYW5hbHl0aWNzIjp7InVybCI6Imh0dHBzOi8vY2xpZW50LWFuYWx5dGljcy5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tLzM0OHBrOWNnZjNiZ3l3MmIifSwidGhyZWVEU2VjdXJlRW5hYmxlZCI6dHJ1ZSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiQWNtZSBXaWRnZXRzLCBMdGQuIChTYW5kYm94KSIsImNsaWVudElkIjpudWxsLCJwcml2YWN5VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3BwIiwidXNlckFncmVlbWVudFVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS90b3MiLCJiYXNlVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhc3NldHNVcmwiOiJodHRwczovL2NoZWNrb3V0LnBheXBhbC5jb20iLCJkaXJlY3RCYXNlVXJsIjpudWxsLCJhbGxvd0h0dHAiOnRydWUsImVudmlyb25tZW50Tm9OZXR3b3JrIjp0cnVlLCJlbnZpcm9ubWVudCI6Im9mZmxpbmUiLCJ1bnZldHRlZE1lcmNoYW50IjpmYWxzZSwiYnJhaW50cmVlQ2xpZW50SWQiOiJtYXN0ZXJjbGllbnQzIiwiYmlsbGluZ0FncmVlbWVudHNFbmFibGVkIjp0cnVlLCJtZXJjaGFudEFjY291bnRJZCI6ImFjbWV3aWRnZXRzbHRkc2FuZGJveCIsImN1cnJlbmN5SXNvQ29kZSI6IlVTRCJ9LCJjb2luYmFzZUVuYWJsZWQiOmZhbHNlLCJtZXJjaGFudElkIjoiMzQ4cGs5Y2dmM2JneXcyYiIsInZlbm1vIjoib2ZmIn0=';
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '<%= @client_token %>'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        // Handle error in client creation
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {
            'font-size': '1rem',
            'font-family': 'exo 2, lato, sans-serif'
          },
          'input.invalid': {
            'color': 'red'
          },
          'input.valid': {
            'color': 'green'
          }
        },
        fields: {
          number: {
            selector: '#card-number',
            placeholder: '4111 1111 1111 1111'
          },
          cvv: {
            selector: '#cvv',
            placeholder: '123'
          },
          expirationDate: {
            selector: '#expiration-date',
            placeholder: '10 / 2019'
          }
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          // Handle error in Hosted Fields creation
          return;
        }

        submit.removeAttribute('disabled');
      });
    });
    </script>
  </div>
</div>
