<div class="main-content container">
  <div class="preview-options">

    <div class="section share">
      <%= render 'team_seasons/invite_page_link_card', team_season: @team_season %>
    </div>

    <div class="section">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Season Details</span>
          <hr class="faint">
          <div class="section-block">
            <div class="section add-more-detail">
              <div id="season_details_container">
                <%= render 'seasons/season_details', season: @team_season.season, team_season: @team_season %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-action edit-profile-actions">
          <a class="waves-effect waves-light btn modal-trigger" href="#season-modal">Edit Season Details</a>
        </div>
      </div>

    <!-- Modal Structure -->
    <div id="season-modal" class="modal bottom-sheet">
      <%= render 'season_modal_form', season: @team_season.season, team_season: @team_season %>
    </div>

    <div id="payment_details_container" class="section">
      <%= render 'profiles/payment_details', person: @team_season.treasurer, last_four: "1234" %>
    </div>

    <!-- Modal Structure -->
    <div id="payment-details-modal" class="modal bottom-sheet">
      <%= render 'payment_details_modal_form', person: @team_season.treasurer %>
    </div>

  </div>
</div>

<script>
  $('.modal-trigger').leanModal({
    dismissible: true, // Modal can be dismissed by clicking outside of the modal
    opacity: .5, // Opacity of modal background
    in_duration: 300, // Transition in duration
    out_duration: 200, // Transition out duration
    starting_top: '4%', // Starting top style attribute
    ending_top: '10%' // Ending top style attribute
    //ready: function() { alert('Ready'); }, // Callback for Modal open
    //complete: function() { alert('Closed'); } // Callback for Modal close
  });

</script>
