<li>
  <div class="collapsible-header">
    <div><%= opp[:name] %></div>
    <div class="price"><%= opp[:price] %></div>
  </div>
  <div class="collapsible-body">
    <div class="opp-section-title">Basics</div>
    <div class="opp-section-body">
      <div class="basic-data">
        <% opp[:basics].each do |tag| %>
          <div class="chip">
            <%= tag %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="next-start">
      <div class="opp-section-title">Next Start Time</div>
      <div class="opp-section-body">
        <div class="next-start-time">
          <span><%= opp[:next_start][:date] %></span> @ <span><%= opp[:next_start][:time] %></span>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="opp-section-title">Location</div>
      <div class="opp-section-body">
        <div><a class="location-name" href="<%= opp[:location][:location_link] %>"><%= opp[:location][:name] %></a></div>
        <a class="location-address" href="<%= opp[:location][:address_link] %>">
          <div><%= opp[:location][:address][:street] %></div>
          <div><%= opp[:location][:address][:city] %>, <%= opp[:location][:address][:state] %>, <%= opp[:location][:address][:zip] %></div>
        </a>
      </div>
    </div>
    <div class="more-info">
      <div class="opp-section-title">More Info</div>
      <div class="opp-section-body last">
        <a class="event-link btn waves-effect waves-green" href="<%= opp[:external_link] %>">More Info</a>
      </div>
    </div>
  </div>
</li>
