<div class="container">

    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="card-title">
          Add List Member
        </div>
        <p>
          You can add individual list members via this form. To add multiple members by uploading a csv use <a style="color: #ffffff; font-weight: 700; text-decoration: underline;" href="<%= list_member_batch_path(list: @list.id) %>">batch create</a>.
        </p>
      </div>
    </div>

    <div class="card">
    <%= form_for(@person, url: sub_list_memberships_path, method: :post) do |f| %>
      <div class="card-content">
        <div class="mdl-card__title mdl-card--expand">
          <div class="profile-header">

            <div class="row">
              <div class="input-field col s12 m6 l6">
                <%= f.text_field :first_name, required: true %>
                <%= f.label :first_name %>
              </div>

              <div class="input-field col s12 m6 l6">
                <%= f.text_field :last_name, required: true %>
                <%= f.label :last_name %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m6 l6">
                <%= f.email_field :email, required: true %>
                <%= f.label :email %>
              </div>

              <div class="input-field col s12 m6 l6">
                <%= f.text_field :phone %>
                <%= f.label :phone %>
              </div>
            </div>

          </div>
        </div>
      </div>

      <%= f.hidden_field :sub_list_id, value: @list.id %>
    <div class="edit-profile-actions card-action">
      <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
        Add Player
      <% end %>
    </div>
    <% end %>
  </div>
</div>
