<!-- <div class="mini-header"></div> -->
<div>
  <div class="hero" style="
    height: 400px;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">

    <div class="container">
      <div class="community-title" style="display: flex; justify-content: center; align-items: center; color: white;">
        Software For People Who Love Soccer
      </div>
      <!-- <div class="logo-container"><%= image_tag "onside_white.svg" %></div> -->
      <!-- <h4>Play Together</h4> -->

      <!-- <div class="action-container">
        <div class="main-actions">
          <div>
            <%= link_to "Register", new_person_registration_path,  class: "btn waves-effect waves-green white" %>
          </div>
          <div>
            <%= link_to "Sign In", new_person_session_path,  class: "btn-flat waves-effect waves-light" %>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <%= render "home_header" %>
  <div id="first-container" class="container">
    <div id="why" class="home-section">
      <div class="home-section-header">
        <h2>Why Onside?</h2>
      </div>
      <div class="home-sub-section-container">
        <p class="flow-text">A word from the founder.</p>
        <iframe src="https://player.vimeo.com/video/204150149" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div id="how" class="home-section">
      <div class="home-section-header">
        <h2>How Onside Works</h2>
      </div>
      <div class="home-sub-section-container">
        <div>We focus on helping soccer businesses according to our principles:</div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              Partner With Customers
            </div>
            <div><b>Relationships are more important than margin</b></div>
            <ul>
              <li style="list-style: circle inside;">Partners listen to each other</li>
              <li style="list-style: circle inside;">Partners care about each other's success</li>
              <li style="list-style: circle inside;">Partners share a common goal</li>
              <li style="list-style: circle inside;">Partners develop lasting relationships</li>
            </ul>
          </div>
        </div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              Enhance Existing Strengths
            </div>
            <div><b>Improving strengths is the path to overcoming weakness</b></div>
            <ul>
              <li style="list-style: circle inside;">We enhance our partner’s strengths</li>
              <li style="list-style: circle inside;">We improve upon existing processes</li>
              <li style="list-style: circle inside;">We don’t replace things that are working well</li>
              <li style="list-style: circle inside;">We don’t fix things that are broken</li>
            </ul>
          </div>
        </div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              KISS - Keep it simple, stupid
            </div>
            <div><b>Simple and effective is better than complex and powerful</b></div>
            <ul>
              <li style="list-style: circle inside;">Simple means easy to understand</li>
              <li style="list-style: circle inside;">Products should be small and effective</li>
              <li style="list-style: circle inside;">Products should be simple to get data into and out of for easy integrations</li>
            </ul>
          </div>
        </div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              Focus on increasing revenue
            </div>
            <div><b>Revenue is the life force of a business </b></div>
            <ul>
              <li style="list-style: circle inside;">We help soccer businesses make more money</li>
              <li style="list-style: circle inside;">Making more money is better than reducing costs</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div id="products" class="home-section">
      <div class="home-section-header">
        <h2>What Onside Offers</h2>
      </div>
      <div class="home-sub-section-container">
        <div>We craft products to help your business run smoothly. Our products are designed specifically for businesses like yours, they integrate with leading sports management platforms and they are very easy to use.</div>

        <ul class="collection with-header" style="text-align: left; background-color: #f8f8f8; width: 100%; margin-top: 50px;">
          <li class="collection-item"><a href="http://register.playonside.com"><b>Register:</b>   Simple online league registration<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://collect.playonside.com"><b>Collect:</b>     Team fee collection for clubs<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://tryout.playonside.com"><b>Tryout:</b>       Simple tryout logistics<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://schedule.playonside.com"><b>Schedule:</b>   Simple scheduling for leagues and tournaments<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://practice.playonside.com"><b>Practice:</b>   Track player performance in practices and games<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://fields.playonside.com"><b>Field Market:</b> Buy and sell field time<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://sub.playonside.com"><b>Subfinder:</b>       No more forfeits in your leagues<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://ticketsun.playonside.com"><b>TicketSun:</b> Sell more tickets online<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
        </ul>

      </div>
    </div>
  </div>
  <div id="contact" class="home-section community-last" style="
      background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://images.unsplash.com/photo-1447884658459-3003167f4080'); background-size: cover; background-position: bottom">
      <div class="container">
        <div class="price-line">
          Please email us.
        </div>
        <div class="price-detail">
          <p class="flow-text">
            We thrive only through our relationship with you. If you are interested in hearing more about Onside or any of our products, or have an idea for a new product, or if you want to work with us in any capacity, please send us an email.
          </p>
        </div>
        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Email Onside", "mailto:gaffer@playonside.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
  Smooch.init({ appToken: '4uo07emseza6om3y5azyjq56e' });
</script>
