<div>
  <div id="register-hero-wrapper" style="border: none; margin-bottom: 0px;">
    <div class="subfinder-hero" style="border-bottom: 1px solid rgba(255,255,255,0);">
      <div class="container">
        <div class="subfinder-title">
          Accept Team Signups Online in 10 Minutes
        </div>
        <div class="subfinder-desc flow-text">
          You want online league registration. Not a new organization infrastructure.
        </div>
      </div>
    </div>
    <%= render "register_header" %>
  </div>

  <div id="first-container" class="container">

    <div id="demo" class="home-section">
      <div class="home-section-header">
        <h2>You’re a commissioner, not a collector</h2>
      </div>
      <div class="home-sub-section-container">
        <div>If you would rather run a sports league than a collections agency, you can use simple online registration from Onside so that you can get more teams committed and get paid can conveniently and on time.</div>
        <div style="margin-top:50px;">
          <iframe width="630" height="394" src="https://www.useloom.com/embed/676856752fd44903a199d4b3f9f8477c" frameborder="0" allowfullscreen></iframe>
          <!-- <iframe src="https://player.vimeo.com/video/12442982" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
        </div>
      </div>
    </div>

    <div id="features" class="home-section">
      <div class="home-section-header">
        <h2>Simple Online Registration</h2>
      </div>
      <div class="home-sub-section-container">
        <div>We believe a simple and effective tool is more powerful than a complex tool with lots of bells and whistles. With Onside you can have online registration without changing your infrastructure or workflow.</div>

        <!-- <div class="row">
          <div class="col l8 m8 s12"> -->
            <div class="home-sub-section">
              <div class="home-sub-section-header">
                <h3>You create a league, and a sign up page for a season.</h3>
              </div>
            </div>


            <div class="home-sub-section">
              <div class="container">
                <div class="home-sub-section-img card">
                  <div class="gif add_league"></div>
                </div>
              </div>
            </div>

            <div class="home-sub-section">
              <div class="home-sub-section-header">
                <h3>Share the season page on your website, on social media, and with your email list.</h3>
              </div>
            </div>

            <div class="home-sub-section">
              <div class="container">
                <div class="home-sub-section-img card">
                  <div class="gif season_page"></div>
                </div>
              </div>
            </div>

            <div class="home-sub-section">
              <div class="home-sub-section-header">
                <h3>Team captains signup and pay. The money is deposited in your bank account in 2-3 business days.</h3>
              </div>
            </div>

            <div class="home-sub-section">
              <div class="container">
                <div class="home-sub-section-img card">
                  <div class="gif checkout_page"></div>
                </div>
              </div>
            </div>

            <div class="home-sub-section">
              <div class="home-sub-section-header">
                <h3>You get notified with the captain’s name and email address.</h3>
              </div>
            </div>

            <div class="home-sub-section">
              <div class="container">
                <div class="home-sub-section-img card">
                  <div class="gif captains_list"></div>
                </div>
              </div>
            </div>

          <!-- </div> -->
          <!-- <div class="home-sub-section"> -->

            <div class="container">
              <div class="card blue-grey darken-1">
                <div class="card-image">
                  <img src="<%= image_path 'foosball.jpg' %>">
                  <span class="card-title" style="background: rgba(84,110,122,0.4); width: 100%;">We are on your team</span>
                </div>
                <div class="card-content white-text">
                  <p>We believe that our customers are partners in the soccer business. Your success is our success.</p><br>
                  <p>We are available via live chat on the site, by email, or by phone to help you.</p><br>
                  <p> We want you to be successful, and we want to help. Please get in touch with any questions.</p>
                </div>
              </div>
            </div>
          <!-- </div> -->

        <!-- </div> -->

      </div>
    </div>

    <div id="pricing" class="home-section">
      <div class="home-section-header">
        <h2>Straightforward Pricing</h2>
      </div>
      <div class="home-sub-section-container">
        <div class="home-sub-section">
          <div class="home-sub-section-header">
            <h3>
              <b>Your first league is free.</b><br>
              <br>
              After that it’s just <br><b>$10/mth per league</b>.<br>
              <br>
              Get started for free now, you’ll be ready for signups by <b><span id="done-time" style="letter-spacing: 1px"></span></b>
            </h3><br>
            <%= link_to "Get Started", new_person_registration_path, class: "btn waves-effect waves-green" %>
          </div>
        </div>
        <div class="home-sub-section">
          <div class="container">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <div class="card-title">
                  Secure Payments
                </div>
                <p>
                  All online payments are subject to a 2.9% + 30c processing fee from our payment processor, Stripe.
                  Stripe is certified to PCI Service Provider Level 1, the most stringent level of certification available in the payments industry.
                  <%= link_to "https://stripe.com/docs/security/stripe", target: "_blank", style: "color: white; text-decoration: underline;" do %>
                    Read more about Stripe's security.
                  <% end %>
                </p>
                <br>
                <div >
                  <%= link_to "http://stripe.com", target: "_blank" do %>
                    <%= image_tag "powered_by_stripe.svg" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="home-section community-last" style="background:url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">
    <div class="community-last-overlay">
      <div class="container">
        <div class="price-line">
          We want to talk. If you have any questions or feedback, please get in touch.
        </div>
        <!-- <div class="price-detail">
          <p class="flow-text">
            Harrisburg Onside strives to provide accurate, up-to-date, information about opportunites to play, watch, and participate in soccer.
            We rely on your input to provide accurate information and provide a better experience for users.
            Please contact us with any new listings, corrections, general feedback, questions and ideas of how we can improve the site.
          </p>
        </div> -->
        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Contact", "mailto:gaffer@playonside.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
  Smooch.init({ appToken: '4uo07emseza6om3y5azyjq56e' });
</script>
<script>
  function checkTime(i) {
      if (i < 10) {
          i = "0" + i;
      }
      return i;
  }

  function startTime() {
      var now = new Date();
      var done = new Date(now.getTime() + 10*60000);
      var hh = done.getHours();
      var ampm = 'am';
      var h = hh;
      if (h >= 12) {
          h = hh-12;
          ampm = "pm";
      }
      if (h == 0) {
          h = 12;
      }


      var m = done.getMinutes();
      // var s = done.getSeconds();

      // add a zero in front of numbers<10
      m = checkTime(m);
      // s = checkTime(s);
      document.getElementById('done-time').innerHTML = h + ":" + m + ampm;
      t = setTimeout(function () {
          startTime()
      }, 500);
  }
  startTime();
</script>
