<%= render "connect_header" %>
<div>
  <div id="register-hero-wrapper">
    <div class="relate-hero">
      <div class="container">

        <div style="display: flex; justify-content: center; margin-top: 30px; margin-bottom: 30px;">
          <%= image_tag "ds-tongue", style: "max-height: 250px;", width: "auto"  %>
        </div>

        <div class="relate-title">
          For real live humans, not salespeople.
        </div>
        <!-- <div class="relate-desc flow-text">
          Use our dead simple system to connect with your people.
        </div> -->

        <div class="center-align" style="margin-top: 50px; margin-bottom: 50px;">
          <%= link_to "Get Started", "#pricing", class: "btn waves-effect" %>
        </div>
      </div>
    </div>
  </div>

  <div id="first-container" class="container">
    <div id="subfinder-demo-section" class="home-section">
      <div class="home-section-header">
        <h2>Connect with your people.</h2>
      </div>
      <div class="home-sub-section-container">
        <div>
          <p class="flow-text">
            If you want a tool designed for sales, with all the bells and whistles keep looking.<br>
            <br>
            If you want something <b>simple</b> that just helps you stay on top of your important <b>relationships</b>, give us a shot.
          <p>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing" class="home-section">
    <div class="home-section-header">
      <h2>Straightforward Pricing</h2>
      <p class="flow-text">
        No Contracts.  No Hidden Fees.
      </p>
      <p>
        If you aren't happy working with us, we'll give you all your money back.
      </p>
      <!-- <div class="input-field col s12 m6 l6"> -->
        <div id="pricing-frequency" class="switch">
          <label>
            Pay Monthly
            <%= check_box_tag :pricing_frequency%>
            <span class="lever"></span>
            Pay Annually
          </label>
        </div>
      <!-- </div> -->
    </div>
    <div id="monthly-pricing" class="home-sub-section-container monthly">

      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 20px;">
                Individual
              </p>
              <h2 style="margin-top: 0px;">
                <b>$30/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-monthly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 20px;">
                Team
              </p>
              <h2 style="margin-top: 0px;">
                <b>$50/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-monthly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 20px;">
                Business
              </p>
              <h2 style="margin-top: 0px;">
                <b>$135/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-yearly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="yearly-pricing" class="home-sub-section-container annually">

      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 20px;">
                Individual
              </p>
              <h2 style="margin-top: 0px;">
                <b>$19/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-monthly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 20px;">
                Team
              </p>
              <h2 style="margin-top: 0px;">
                <b>$39/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-monthly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 20px;">
                Business
              </p>
              <h2 style="margin-top: 0px;">
                <b>$99/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-yearly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="flow-text" style="margin-bottom: 50px;">Get started now, you’ll be all set by <b><span id="done-time" style="letter-spacing: 1px"></span></b></p>
  </div>


  <div class="home-section community-last" style="margin-top: 0px; background:url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">
    <div class="community-last-overlay">
      <div class="container">
        <div class="price-line">
          Questions? Contact us to learn about working with Onside.
        </div>
        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Contact", "mailto:gaffer@playonside.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function checkTime(i) {
      if (i < 10) {
          i = "0" + i;
      }
      return i;
  }

  function startTime() {
      var now = new Date();
      var done = new Date(now.getTime() + 5*60000);
      var hh = done.getHours();
      var ampm = 'am';
      var h = hh;
      if (h >= 12) {
          h = hh-12;
          ampm = "pm";
      }
      if (h == 0) {
          h = 12;
      }


      var m = done.getMinutes();
      // var s = done.getSeconds();

      // add a zero in front of numbers<10
      m = checkTime(m);
      // s = checkTime(s);
      document.getElementById('done-time').innerHTML = h + ":" + m + ampm;
      t = setTimeout(function () {
          startTime()
      }, 500);
  }
  startTime();

  $('#annual-pricing').hide()

  $('#pricing-frequency').change(function () {

    console.log('toggle pricing')

    console.log($('#pricing_frequency').is(':checked'))

    if ($('#pricing_frequency').is(':checked')) {
      $('#monthly-pricing').hide()
      $('#annual-pricing').show()
    } else {
      $('#monthly-pricing').show()
      $('#annual-pricing').hide()
    }
  });
</script>
