<%= render "connect_header" %>
<div>
  <div id="register-hero-wrapper">
    <div class="relate-hero">
      <div class="container">

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 60px; margin-bottom: 60px;">
          <div class="relate-title" style="width: 100%;">
            Simple recruiting for college soccer coaches
          </div>

          <div class="relate-desc flow-text" style="width: 100%;">
            Focus on building your program. We've got the boring 🤓 stuff covered.
          </div>
        </div>

        <%= image_tag "players-shot.png", style: "width: 100%; margin-top: 30px; margin-bottom: 30px;"  %>

      </div>
    </div>
  </div>

  <!-- <div id="social-proof" class="container">
    <div class="card row" style="padding:30px; background-color: #f3f3f3;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="col s12 m4 l3">
          <%= image_tag "horth.jpg", style: "width: 100px; margin-top: 30px; margin-bottom: 30px; border-radius:100%;"  %>
          <div>Matt Horth </div>
          <div>Men's Soccer Coach </div>
          <div>Gordon College </div>
        </div>
        <div style="padding: 60px; text-align: center;" class="flow-text col s12 m8 l9">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."
        </div>
    </div>
  </div> -->


  <div class="container">
    <div class="home-section">
      <div class="home-sub-section-container">
        <p class="flow-text" style="margin-bottom: 50px;">Simplify your recruiting process now, you’ll be all set by <b><span id="done-time" style="letter-spacing: 1px"></span></b></p>
        <%= link_to "Start Free Trial", new_person_registration_path(plan: "free"), class: "btn blue white-text waves-effect waves-blue" %>
      </div>
    </div>
  </div>


  <div id="features" class="home-section">
    <!-- <div class="home-section-header">
      <h2>Simple Online Registration</h2>
    </div> -->
    <div class="home-sub-section-container">
      <!-- <div style="margin-bottom: 50px;">We believe a simple and effective tool is more powerful than a complex tool with lots of bells and whistles. With Onside you can have online registration without changing your infrastructure or workflow.</div> -->

      <!-- <div class="row">
        <div class="col l8 m8 s12"> -->
          <div class="home-sub-section">
            <div class="home-sub-section-header" style="text-align: left; align-items: left;">
              <h2 style="text-align: left;">Quickly review recruit profiles</h2>
              <h3 style="text-align: left; margin-top: 30px;">Watch highlight videos, review stats and basic info easily on your computer or on your phone, and quickly decide if they are a fit for your program.</h3>
            </div>
          </div>


          <div class="home-sub-section">
            <div class="container">
              <div class="home-sub-section-img card" style="max-width: 300px;">
                <div class="gif submission"></div>
              </div>
            </div>
          </div>

    </div>

    <div class="home-sub-section-container">

        <div class="home-sub-section">
          <div class="home-sub-section-img card" style="max-width: 300px;">
            <div class="gif people-tab"></div>
          </div>
        </div>

        <div class="home-sub-section">
          <div class="home-sub-section-header" style="text-align: left; align-items: left;">
            <h2 style="text-align: left;">Find the right players</h2>
            <h3 style="text-align: left; margin-top: 30px;">Use the simple database to track players and contacts and always be able to find who you are looking for.</h3>
          </div>
        </div>

    </div>

    <div class="home-sub-section-container">

          <div class="home-sub-section">
            <div class="home-sub-section-header" style="text-align: left; align-items: left;">
              <h2 style="text-align: left;">Streamline your emailing process</h2>
              <h3 style="text-align: left; margin-top: 30px;">Use email templates, email tracking, and automated emails to stay on top of your recruit communication.</h3>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="container">
              <div class="home-sub-section-img card" style="max-width: 300px;">
                <div class="gif contact-email"></div>
              </div>
            </div>
          </div>

    </div>

    <div class="home-sub-section-container">

      <div class="home-sub-section">
        <div class="container">
          <div class="home-sub-section-img card" style="max-width: 300px;">
            <div class="gif activity"></div>
          </div>
        </div>
      </div>

      <div class="home-sub-section">
        <div class="home-sub-section-header" style="text-align: left; align-items: left;">
          <h2 style="text-align: left;">Stay on top of all your recruiting activity</h2>
          <h3 style="text-align: left; margin-top: 30px;">See all activity for a recruit in a stream of notes, tasks and emails. Assign tasks and get reminders when the due date is coming up. Write notes to keep track of who contacted a player and what was communicated.</h3>
        </div>
      </div>

    </div>

    <div class="home-sub-section-container">

          <div class="home-sub-section" style="margin-top: 120px;"">
              <h2>Easily integrate with hundreds of tools you already know and love.</h2>
          </div>
          <div style="margin-top: 80px; margin-bottom: 80px;">
            <%= image_tag "onside-green-zap.png", style: "width: 100%; height: auto;"  %>
          </div>

    </div>

    <div class="home-sub-section-container">


            <!-- <div class="card blue-grey darken-1">
              <div class="card-image">
                <img src="<%= image_path 'foosball.jpg' %>">
                <span class="card-title" style="background: rgba(84,110,122,0.4); width: 100%;">We are on your team</span>
              </div>
              <div class="card-content white-text">
                <p>We believe that our customers are partners in the soccer business. Your success is our success.</p><br>
                <p>We are available via live chat on the site, by email, or by phone to help you.</p><br>
                <p> We want you to be successful, and we want to help. Please get in touch with any questions.</p>
              </div>
            </div> -->


            <div class="card blue-grey darken-1 hide-on-large-only">
              <div class="card-image">
                <%= image_tag "jr-hor.jpg" %>
                <span class="card-title" style="background-image: linear-gradient(to bottom, rgba(84,110,122,0), rgba(84,110,122,1)); width: 100%;text-align: left;); width: 100%; text-align: left; padding-top: 50px; padding-bottom: 50px;">I am on your team.</span>
              </div>
              <div class="card-content white-text left-align">
                <p>
                  Hi, I’m John Reagan, the founder of Onside. When you sign up for Onside you are signing up to work with me.
                </p>
                <br>
                <p>
                  I am here to help you recruit more effectively, build your program and win more games.
                  That means going well beyond the software I provide.
                  If you need help with anything from data importing and automating your workflow to advice on your communication strategy or marketing campaigns, I am here for you.
                </p>
                <br>
                <p>
                  When you have questions or need support, I am here for you. You can get in touch with me via live chat on the site, email or a phone call.
                </p>
                <br>
                <p>
                  I am at your service to help take care of the time-consuming technical work 🕐 🤓 so you can win more games. Please get in touch with any questions you have.
                </p>
              </div>
            </div>

        <div class="container hide-on-med-and-down">

          <div class="card blue-grey darken-1 horizontal hoverable ">
            <div class="card-image">
              <%= image_tag "jr-vert.jpg" %>
            </div>
            <div class="card-stacked">
              <div class="card-content white-text">
                <div class="card-content left-align">
                  <div class="card-title white-text left-align">
                    I am on your team.
                  </div>
                  <p>
                    Hi, I’m John Reagan, the founder of Onside. When you sign up for Onside you are signing up to work with me.
                  </p>
                  <br>
                  <p>
                    I am here to help you recruit more effectively, build your program and win more games.
                    That means going well beyond the software I provide.
                    If you need help with anything from data importing and automating your workflow to advice on your communication strategy or marketing campaigns, I am here for you.
                  </p>
                  <br>
                  <p>
                    When you have questions or need support, I am here for you. You can get in touch with me via live chat on the site, email or a phone call.
                  </p>
                  <br>
                  <p>
                    I am at your service to help take care of the time-consuming technical work 🕐 🤓 so you can win more games. Please get in touch with any questions you have.
                  </p>
                </div>
              </div>
            </div>
          </div>


      </div>
    </div>

  </div>

  <div id="pricing" class="home-section">
    <div class="container">
      <div class="home-section-header">
        <h2>Straightforward Pricing</h2>
        <p class="flow-text">
          No Contracts.  No Hidden Fees.
        </p>
        <p>
          If you aren't happy working with us, we'll give you all your money back.
        </p>
        <!-- <div class="input-field col s12 m6 l6"> -->
          <div id="pricing-frequency" class="switch">
            <label>
              Pay Monthly
              <%= check_box_tag :pricing_frequency%>
              <span class="lever"></span>
              Pay Annually
            </label>
          </div>
        <!-- </div> -->
      </div>
    </div>

    <div id="monthly-pricing" class="home-sub-section-container monthly">

      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Coach
              </p>
              <p style="margin-bottom: 15px;">
                Just You
              </p>
              <h2 style="margin-top: 0px;">
                <b>$30/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-monthly"), id: 'get-started-basic-monthly', class: "get-started-button btn blue waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Team
              </p>
              <p style="margin-bottom: 15px;">
                5 Users
              </p>
              <h2 style="margin-top: 0px;">
                <b>$50/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-team-monthly"), id: 'get-started-team-monthly', class: "get-started-button btn blue waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Department
              </p>
              <p style="margin-bottom: 15px;">
                Unlimited Users
              </p>
              <h2 style="margin-top: 0px;">
                <b>$300/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-business-monthly"), id: 'get-started-department-monthly', class: "get-started-button btn blue waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="annual-pricing" class="home-sub-section-container annually">

      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Coach
              </p>
              <p style="margin-bottom: 15px;">
                Just You
              </p>
              <h2 style="margin-top: 0px;">
                <b>$19/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-yearly"), id: 'get-started-basic-yearly' ,class: "get-started-button btn blue waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Team
              </p>
              <p style="margin-bottom: 15px;">
                5 Users
              </p>
              <h2 style="margin-top: 0px;">
                <b>$39/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-team-yearly"), id: 'get-started-team-yearly', class: "get-started-button btn blue waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Department
              </p>
              <p style="margin-bottom: 15px;">
                Unlimited Users
              </p>
              <h2 style="margin-top: 0px;">
                <b>$199/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-business-yearly"), id: 'get-started-department-yearly', class: "get-started-button btn blue waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section">
    <p class="flow-text" style="margin-bottom: 50px;">Get started now, you’ll be all set by <b><span id="done-time-2" style="letter-spacing: 1px"></span></b></p>
    <%= link_to "Start Free Trial", new_person_registration_path(plan: "free"), class: "btn white-text waves-effect waves-blue" %>
  </div>


  <div class="home-section community-last" style="">
    <div class="community-last-overlay">
      <div class="container">
        <div class="price-line">
          Questions?
        </div>
        <div class="relate-desc flow-text" style="width: 100%;">
          You can get in touch in the live chat bubble 💬 at the bottom right.<br>
          Or call 📱 978-998-2205 or 💌 email with the button below.
        </div>

        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Email", "mailto:johnreaganmoore@gmail.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function checkTime(i) {
      if (i < 10) {
          i = "0" + i;
      }
      return i;
  }

  function startTime() {
      var now = new Date();
      var done = new Date(now.getTime() + 5*60000);
      var hh = done.getHours();
      var ampm = 'am';
      var h = hh;
      if (h >= 12) {
          h = hh-12;
          ampm = "pm";
      }
      if (h == 0) {
          h = 12;
      }


      var m = done.getMinutes();
      // var s = done.getSeconds();

      // add a zero in front of numbers<10
      m = checkTime(m);
      // s = checkTime(s);
      document.getElementById('done-time').innerHTML = h + ":" + m + ampm;
      document.getElementById('done-time-2').innerHTML = h + ":" + m + ampm;
      t = setTimeout(function () {
          startTime()
      }, 500);
  }
  startTime();

  $('#annual-pricing').hide()

  $('#pricing-frequency').change(function () {

    console.log('toggle pricing')

    console.log($('#pricing_frequency').is(':checked'))

    if ($('#pricing_frequency').is(':checked')) {
      $('#monthly-pricing').hide()
      $('#annual-pricing').show()
    } else {
      $('#monthly-pricing').show()
      $('#annual-pricing').hide()
    }
  });

  !function() {
    var t;
    if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
    t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n;
        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
      n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
    });
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('t6dywwwcugsg');

</script>
