<%= render "connect_header" %>
<div>
  <div id="register-hero-wrapper">
    <div class="relate-hero">
      <div class="container">

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 60px; margin-bottom: 60px;">
          <div class="relate-title" style="width: 100%;">
            Dead simple recruiting for real live coaches
          </div>

          <div class="relate-desc flow-text" style="width: 100%;">
            Focus on building your program. We've got the boring 🤓 stuff covered.
          </div>
        </div>

        <%= image_tag "players-shot.png", style: "width: 100%; margin-top: 30px; margin-bottom: 30px;"  %>

      </div>
    </div>
  </div>

  <div id="social-proof" class="container">
    <div class="card row" style="padding:30px; background-color: #f3f3f3;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="col s12 m4 l3">
          <%= image_tag "horth.jpg", style: "width: 100px; margin-top: 30px; margin-bottom: 30px; border-radius:100%;"  %>
          <div>Matt Horth </div>
          <div>Men's Soccer Coach </div>
          <div>Gordon College </div>
        </div>
        <div style="padding: 60px; text-align: center;" class="flow-text col s12 m8 l9">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."
        </div>
    </div>
  </div>


  <div class="container">
    <div class="home-section">
      <div class="home-sub-section-container">
        <p class="flow-text" style="margin-bottom: 50px;">Simplify your recruiting process now, you’ll be all set by <b><span id="done-time" style="letter-spacing: 1px"></span></b></p>
        <%= link_to "Start Free Trial", new_person_registration_path(plan: "free"), class: "btn blue white-text waves-effect waves-blue" %>
      </div>
    </div>
  </div>


  <div id="features" class="home-section">
    <!-- <div class="home-section-header">
      <h2>Simple Online Registration</h2>
    </div> -->
    <div class="home-sub-section-container">
      <!-- <div style="margin-bottom: 50px;">We believe a simple and effective tool is more powerful than a complex tool with lots of bells and whistles. With Onside you can have online registration without changing your infrastructure or workflow.</div> -->

      <!-- <div class="row">
        <div class="col l8 m8 s12"> -->
          <div class="home-sub-section">
            <div class="home-sub-section-header" style="text-align: left; align-items: left;">
              <h2 style="text-align: left;">Quickly review recruit profiles</h2>
              <h3 style="text-align: left; margin-top: 30px;">Watch highlight videos, review stats and basic info easily on your computer or on your phone, and quickly decide if they are a fit for your program.</h3>
            </div>
          </div>


          <div class="home-sub-section">
            <div class="container">
              <div class="home-sub-section-img card">
                <div class="gif submission"></div>
              </div>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="home-sub-section-header">
              <h2>Simple recruit database</h2>
              <h3>Keep track of everyone in your pipeline.</h3>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="container">
              <div class="home-sub-section-img card">
                <div class="gif season_page"></div>
              </div>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="home-sub-section-header">
              <h2>Streamline your emailing process</h2>
              <h3>Use email templates, email tracking, and automated emails to stay on top of your recruit communication.</h3>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="container">
              <div class="home-sub-section-img card">
                <div class="gif checkout_page"></div>
              </div>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="home-sub-section-header">
              <h2>Assign tasks to your team</h2>
              <h3>Assign tasks to you and your staff. Get reminders when the due date is coming up.</h3>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="container">
              <div class="home-sub-section-img card">
                <div class="gif captains_list"></div>
              </div>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="home-sub-section-header">
              <h2>Track info on a recruit with notes.</h2>
              <h3>See all activity for a recruit in a stream of notes, tasks and emails.</h3>
            </div>
          </div>

          <div class="home-sub-section">
            <div class="container">
              <div class="home-sub-section-img card">
                <div class="gif captains_list"></div>
              </div>
            </div>
          </div>

          <div class="home-sub-section">
              <h2>Easily integrate with hundreds of tools you already know and love.</h2>
              <h3>See all activity for a recruit in a stream of notes, tasks and emails.</h3>
          </div>

        <!-- </div> -->
        <!-- <div class="home-sub-section"> -->

          <div class="container">
            <div class="card blue-grey darken-1">
              <div class="card-image">
                <img src="<%= image_path 'foosball.jpg' %>">
                <span class="card-title" style="background: rgba(84,110,122,0.4); width: 100%;">We are on your team</span>
              </div>
              <div class="card-content white-text">
                <p>We believe that our customers are partners in the soccer business. Your success is our success.</p><br>
                <p>We are available via live chat on the site, by email, or by phone to help you.</p><br>
                <p> We want you to be successful, and we want to help. Please get in touch with any questions.</p>
              </div>
            </div>
          </div>
        <!-- </div> -->

      <!-- </div> -->

    </div>
  </div>

  <div id="pricing" class="home-section">
    <div class="home-section-header">
      <h2>Straightforward Pricing</h2>
      <p class="flow-text">
        No Contracts.  No Hidden Fees.
      </p>
      <p>
        If you aren't happy working with us, we'll give you all your money back.
      </p>
      <!-- <div class="input-field col s12 m6 l6"> -->
        <div id="pricing-frequency" class="switch">
          <label>
            Pay Monthly
            <%= check_box_tag :pricing_frequency%>
            <span class="lever"></span>
            Pay Annually
          </label>
        </div>
      <!-- </div> -->
    </div>
    <div id="monthly-pricing" class="home-sub-section-container monthly">

      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Individual
              </p>
              <p style="margin-bottom: 15px;">
                Just You
              </p>
              <h2 style="margin-top: 0px;">
                <b>$30/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-monthly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Team
              </p>
              <p style="margin-bottom: 15px;">
                5 Users
              </p>
              <h2 style="margin-top: 0px;">
                <b>$50/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-team-monthly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Business
              </p>
              <p style="margin-bottom: 15px;">
                Unlimited Users
              </p>
              <h2 style="margin-top: 0px;">
                <b>$135/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-business-monthly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="annual-pricing" class="home-sub-section-container annually">

      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Individual
              </p>
              <p style="margin-bottom: 15px;">
                Just You
              </p>
              <h2 style="margin-top: 0px;">
                <b>$19/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-basic-yearly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Team
              </p>
              <p style="margin-bottom: 15px;">
                5 Users
              </p>
              <h2 style="margin-top: 0px;">
                <b>$39/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-team-yearly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="home-sub-section-header">
          <div class="card hover" style="background: #f9f9f9; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
            <div class="card-content">
              <p class="flow-text" style="margin-bottom: 15px;">
                Business
              </p>
              <p style="margin-bottom: 15px;">
                Unlimited Users
              </p>
              <h2 style="margin-top: 0px;">
                <b>$99/mth</b>
              </h2>
              <div class="home-sub-section-container">
                <%= link_to "Get Started", new_person_registration_path(plan: "connect-business-yearly"), class: "btn waves-effect waves-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="flow-text" style="margin-bottom: 50px;">Get started now, you’ll be all set by <b><span id="done-time" style="letter-spacing: 1px"></span></b></p>
  </div>


  <div class="home-section community-last" style="margin-top: 0px; background:url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">
    <div class="community-last-overlay">
      <div class="container">
        <div class="price-line">
          Questions? Email us.
        </div>
        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Contact", "mailto:gaffer@playonside.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function checkTime(i) {
      if (i < 10) {
          i = "0" + i;
      }
      return i;
  }

  function startTime() {
      var now = new Date();
      var done = new Date(now.getTime() + 5*60000);
      var hh = done.getHours();
      var ampm = 'am';
      var h = hh;
      if (h >= 12) {
          h = hh-12;
          ampm = "pm";
      }
      if (h == 0) {
          h = 12;
      }


      var m = done.getMinutes();
      // var s = done.getSeconds();

      // add a zero in front of numbers<10
      m = checkTime(m);
      // s = checkTime(s);
      document.getElementById('done-time').innerHTML = h + ":" + m + ampm;
      t = setTimeout(function () {
          startTime()
      }, 500);
  }
  startTime();

  $('#annual-pricing').hide()

  $('#pricing-frequency').change(function () {

    console.log('toggle pricing')

    console.log($('#pricing_frequency').is(':checked'))

    if ($('#pricing_frequency').is(':checked')) {
      $('#monthly-pricing').hide()
      $('#annual-pricing').show()
    } else {
      $('#monthly-pricing').show()
      $('#annual-pricing').hide()
    }
  });
</script>
