<%= render "subs_header" %>
<div>
  <div id="register-hero-wrapper">
    <div class="subfinder-hero">
      <div class="container">
        <div class="subfinder-title">
          NO MORE FORFEITS
        </div>
        <div class="subfinder-desc flow-text">
          Keep your league running smoothly with a simple way to email subs.
        </div>
        <div class="center-align" style="margin-top: 50px;">
          <%= link_to "Get Started", new_person_registration_path, class: "btn waves-effect" %>
        </div>
      </div>
    </div>
  </div>

  <div id="first-container" class="container">
    <div id="subfinder-demo-section" class="home-section">
      <div class="home-section-header">
        <h2>You're a leader. Lead.</h2>
      </div>
      <div class="home-sub-section-container">
        <div style="margin-bottom: 50px;">
          Use your valuable time investing in your team, not collecting and depositing checks.<br>
          You can rely on Onside to make sure your players make their payments and the money makes it to the bank.
        </div>

        <div class="home-sub-section">
          <div class="home-sub-section-header">
            <h3>Add the basic info about the game, and select the list(s) you want to contact.</h3>
          </div>
        </div>

        <div class="home-sub-section">
          <div class="container">
            <div class="home-sub-section-img card">
              <div class="gif find-subs"></div>
              <!-- <%= image_tag 'find-subs-vert' %> -->
            </div>
          </div>
        </div>

        <div class="home-sub-section">
          <div class="home-sub-section-header">
            <h3>Preview the email. Edit the text however you want, and hit send. Responses from subs come straight to your inbox.</h3>
          </div>
        </div>

        <div class="home-sub-section">
          <div class="container">
            <div class="home-sub-section-img card">
              <div class="gif email-subs"></div>
              <!-- <%= image_tag 'email-subs-vert' %> -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div id="subfinder-second-call-section" class="home-section" style="border-top: 1px solid #dddddd; padding: 50px; background:url(<%= image_url('soccer-pattern.png') %>);">
    <div class="home-section-header">
      <h2>Sound Good?</h2>
    </div>
    <div class="home-sub-section-container">
      <%= link_to "Get Started", new_person_registration_path, class: "btn waves-effect" %>
    </div>
  </div>

  <div class="home-section community-last" style="margin-top: 0px; background:url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">
    <div class="community-last-overlay">
      <div class="container">
        <div class="price-line">
          Questions? Contact us to learn about keeping your league running smoothly with Onside.
        </div>
        <!-- <div class="price-detail">
          <p class="flow-text">
            Harrisburg Onside strives to provide accurate, up-to-date, information about opportunites to play, watch, and participate in soccer.
            We rely on your input to provide accurate information and provide a better experience for users.
            Please contact us with any new listings, corrections, general feedback, questions and ideas of how we can improve the site.
          </p>
        </div> -->
        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Contact", "mailto:gaffer@playonside.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
  Smooch.init({ appToken: '4uo07emseza6om3y5azyjq56e' });
</script>
