<!-- <div class="mini-header"></div> -->
<div>
  <div class="hero" style="
    height: 400px;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">

    <div class="container">
      <div class="community-title" style="display: flex; justify-content: center; align-items: center; color: white;">
        High-Level Soccer Training for Ambitious Players
      </div>

      <h4>Do you train on your own? Get our individual training newsletter</h4>

      <div id="coming-soon-email-container">
        <%= render "input_area", lead: @lead %>
      </div>

      <!-- <div class="logo-container"><%= image_tag "onside_white.svg" %></div> -->
      <!-- <h4>Play Together</h4> -->

      <!-- <div class="action-container">
        <div class="main-actions">
          <div>
            <%= link_to "Register", new_person_registration_path,  class: "btn waves-effect waves-green white" %>
          </div>
          <div>
            <%= link_to "Sign In", new_person_session_path,  class: "btn-flat waves-effect waves-light" %>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <%= render "home_header" %>
  <div id="first-container" class="container">
    <div id="why" class="home-section">
      <div class="home-section-header">
        <h2>Why Onside?</h2>
      </div>
      <div class="home-sub-section-container">

          <div class="card blue-grey darken-1 hide-on-large-only">
            <div class="card-image">
              <%= image_tag "jr-hor.jpg" %>
              <span class="card-title">A word from the founder</span>
            </div>
            <div class="card-content white-text left-align">
              <p>
                Hi, I’m John Reagan, the founder of Onside.
              </p>
              <br>
              <p>
                I love soccer. I love playing soccer and I love watching soccer.
                I also enjoy helping businesses deliver more value to their customers.
                So I created Onside to help soccer related business run smoothly and make more money.
              </p>
              <br>
              <p>
                We have a few different <a href="#products" style="color: white; font-weight: 700;">products</a> you can checkout designed
                to be simple and to help you manage your business.
              </p>
              <br>
              <p>I want to help you as you make the beautiful
                game possible for all of us. If you have any questions or just
                want to chat you can connect with us directly by clicking the
                chat bubble in the bottom right of the screen.
              </p>
            </div>
          </div>


        <div class="card blue-grey darken-1 horizontal hoverable hide-on-med-and-down">
          <div class="card-image">
            <%= image_tag "jr-vert.jpg" %>
          </div>
          <div class="card-stacked">
            <div class="card-content white-text">
              <div class="card-title white-text left-align">
                A word from the founder
              </div>
              <div class="card-content left-align">
                <p>
                  Hi, I’m John Reagan, the founder of Onside.
                </p>
                <br>
                <p>
                  I love soccer. I love playing soccer and I love watching soccer.
                  I also enjoy helping businesses deliver more value to their customers.
                  So I created Onside to help soccer related business run smoothly and make more money.
                </p>
                <br>
                <p>
                  We have a few different <a href="#products" style="color: white; font-weight: 700;">products</a> you can checkout designed
                  to be simple and to help you manage your business.
                </p>
                <br>
                <p>I want to help you as you make the beautiful
                  game possible for all of us. If you have any questions or just
                  want to chat you can connect with us directly by clicking the
                  chat bubble in the bottom right of the screen.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <p class="flow-text">A word from the founder.</p>
        <iframe src="https://player.vimeo.com/video/205706562" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
      </div>
    </div>
    <div id="how" class="home-section">
      <div class="home-section-header">
        <h2>How Onside Works</h2>
      </div>
      <div class="home-sub-section-container">
        <div>We focus on helping soccer businesses according to our principles:</div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              Serve With Humility
            </div>
            <div><b>We believe that we must serve with humility in order to serve effectively</b></div>
            <ul>
              <li style="list-style: circle inside;">Humility means believing that we don't know all the answers</li>
              <li style="list-style: circle inside;">Humility means we must listen to and respond to our customers</li>
              <li style="list-style: circle inside;">Humility means no task that is important to our customers is too small or unimportant for us to do with excellence</li>
            </ul>
          </div>
        </div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              Partner With Customers
            </div>
            <div><b>Relationships are more important than margin</b></div>
            <ul>
              <li style="list-style: circle inside;">Partners listen to each other</li>
              <li style="list-style: circle inside;">Partners care about each other's success</li>
              <li style="list-style: circle inside;">Partners share a common goal</li>
              <li style="list-style: circle inside;">Partners develop lasting relationships</li>
            </ul>
          </div>
        </div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              Enhance Existing Strengths
            </div>
            <div><b>Improving strengths is the path to overcoming weakness</b></div>
            <ul>
              <li style="list-style: circle inside;">We enhance our partner’s strengths</li>
              <li style="list-style: circle inside;">We improve upon existing processes</li>
              <li style="list-style: circle inside;">We don’t replace things that are working well</li>
              <!-- <li style="list-style: circle inside;">We don’t fix things that are broken</li> -->
            </ul>
          </div>
        </div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              KISS - Keep it simple, stupid
            </div>
            <div><b>Simple and effective is better than complex and powerful</b></div>
            <ul>
              <li style="list-style: circle inside;">Simple means easy to understand</li>
              <li style="list-style: circle inside;">Products should be small and effective</li>
              <li style="list-style: circle inside;">Products should be simple to get data into and out of for easy integrations</li>
            </ul>
          </div>
        </div>

        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: left; background-color: #f8f8f8;">
            <div class="card-title">
              Focus on increasing revenue
            </div>
            <div><b>Revenue is the life force of a business </b></div>
            <ul>
              <li style="list-style: circle inside;">We help soccer businesses make more money</li>
              <li style="list-style: circle inside;">Making more money is better than reducing costs</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div id="products" class="home-section">
      <div class="home-section-header">
        <h2>What Onside Offers</h2>
      </div>
      <div class="home-sub-section-container">
        <div>We craft products to help your business run smoothly. Our products are designed specifically for businesses like yours and they are very easy to use.</div>

        <ul class="collection with-header" style="text-align: left; background-color: #f8f8f8; width: 100%; margin-top: 50px;">
          <li class="collection-item"><a href="<%= register_home_url %>"><b>Register:</b>   Simple online league registration<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="<%= collect_home_url %>"><b>Collect:</b>     Team fee collection for clubs<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="<%= tryout_home_url %>"><b>Tryout:</b>       Simple tryout logistics<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <!-- <li class="collection-item"><a href="http://schedule.playonside.com"><b>Schedule:</b>   Simple and flexible scheduling for leagues and tournaments<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://practice.playonside.com"><b>Practice:</b>   Track player performance in practices and games<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://fields.playonside.com"><b>Field Market:</b> Buy and sell field time<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://sub.playonside.com"><b>Subfinder:</b>       No more forfeits in your leagues<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          <li class="collection-item"><a href="http://ticketsun.playonside.com"><b>TicketSun:</b> Sell more tickets online<span class="secondary-content"><i class="material-icons">launch</i></span></a></li> -->
        </ul>

      </div>
    </div>
  </div>
  <div id="contact" class="home-section community-last" style="
      background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://images.unsplash.com/photo-1447884658459-3003167f4080'); background-size: cover; background-position: bottom">
      <div class="container">
        <div class="price-line">
          Please email us.
        </div>
        <div class="price-detail">
          <p class="flow-text">
            We thrive only through our relationship with you. If you are interested in hearing more about Onside or any of our products, or have an idea for a new product, or if you want to work with us in any capacity, please send us an email.
          </p>
        </div>
        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Email Onside", "mailto:gaffer@playonside.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- <script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
  Smooch.init({ appToken: '4uo07emseza6om3y5azyjq56e' });
</script> -->
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('t6dywwwcugsg');
</script>
<!-- End of Async Drift Code -->
