<!-- <div class="mini-header"></div> -->
<%= render "training_header" %>
<div>
  <div class="hero" style="
    min-height: 400px;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">

    <div class="container">
      <div class="community-title" style="text-align: center; display: flex; justify-content: center; align-items: center; color: white;">
        Soccer Training for Ambitious Players
      </div>

      <div style="text-align: center; color: #ffffff; margin-top: 100px;" class="flow-text">Get our free weekly training plan, designed to help you become a better player.</div>

      <div id="newsletter-email-container">

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//applyance.us7.list-manage.com/subscribe/post?u=a1794c38d0a94a032de2b7336&amp;id=7b6d122700" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="row coming-soon-email-input-area">
                <div class="mc-field-group input-field col s12">
                	<label style="color: #ffffff;" for="mce-EMAIL">Email</label>
                	<input style="color: #ffffff;" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
              	<div id="mce-responses" class="clear">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a1794c38d0a94a032de2b7336_7b6d122700" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Send Me Training Plans" name="subscribe" id="mc-embedded-subscribe" class="btn waves-effect waves-light white"></div>
              </div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
  <div id="first-container" class="">

    <div id="philosophy" class="home-section">

      <div class="home-sub-section-container">
        <div class="container">

          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="home-section-header" style="margin-bottom: 40px;">
                <h2 style="color: white;">Pursue More</h2>
              </div>

              <h3 style="color: white;">We are dedicated to cultivating players who have a passion for the game and the skills to excel.</h3>
              <br>
              <h3 style="color: white;">When you are ready to take your game to the next level, get in touch and well discuss a plan to help you reach your potential as a player.</h3>
              <br>
            </div>
          </div>

        </div>


        <div class="container">

          <div class="home-section-header" style="margin-bottom: 40px;">
            <h2>How can we help you?</h2>
          </div>

          <ul class="collection with-header" style="text-align: left; background-color: #f8f8f8; width: 100%; margin-top: 50px;">
            <li class="collection-item"><a href="<%= personal_training_path %>"><b style="margin-right: 30px;">Personal Training</b>              Tailored to a players specific needs and goals<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
            <!-- <li class="collection-item"><a href="<%= small_sided_path %>"><b style="margin-right: 30px;">Small Sided Teams</b>              Training and tournaments with small teams<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
            <li class="collection-item"><a href="<%= clinics_path %>"><b style="margin-right: 30px;">Clinics</b>              Intensive training sessions focused on specific skills<span class="secondary-content"><i class="material-icons">launch</i></span></a></li> -->
            <li class="collection-item"><a href="<%= resources_path %>"><b style="margin-right: 30px;">Online Resources</b>              Free online training resources<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div id="contact" class="home-section community-last" style="
      background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://images.unsplash.com/photo-1447884658459-3003167f4080'); background-size: cover; background-position: bottom">
      <div class="container">
        <div class="price-line">
          Please email us.
        </div>
        <div class="price-detail">
          <p class="flow-text">
            We would love to hear any questions you have about training and playing opportunities with Onside, or if you have any suggestions for how we can serve you better please get in touch.
          </p>
        </div>
        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Email Onside", "mailto:johnreagan@playonside.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- <script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
  Smooch.init({ appToken: '4uo07emseza6om3y5azyjq56e' });
</script> -->
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('t6dywwwcugsg');
</script>
<!-- End of Async Drift Code -->
