<%= form_tag('/contact_email') do |f| %>
  <div class="card-content">
    <div class="field">
      <%= hidden_field_tag :contact_id, contact.id %>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= text_field_tag :subject %>
        <%= label_tag :subject %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= text_area_tag :body, nil, class: "materialize-textarea" %>
        <%= label_tag :body %>
      </div>
    </div>
    <!-- <%= hidden_field_tag :body %>

    <div class="editable">
    </div> -->

  </div>
  <div class="edit-profile-actions card-action">
    <%= button_tag(id: "submit", type: 'submit', class: "btn waves-effect waves-light") do %>
      Send Email
    <% end %>
  </div>
<% end %>

<script>
  $( document ).on('turbolinks:load', function() {
    var editor = new MediumEditor('.editable', {
      // options go here
      placeholder: {
          /* This example includes the default options for placeholder,
             if nothing is passed this is what it used */
          text: 'Start typing here.',
          hideOnClick: true
      }
    });

    editor.subscribe('editableInput', function (event, editable) {
      // Do some work
      $('#email_body').val($(editable).html())
    });
  });
</script>
