

    <%= form_for(contact) do |f| %>
      <div class="card-content">

        <% if contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
            <% contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>

        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>

        <div class="field">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>

        <%= f.hidden_field :tag_list %>
        <div class="chips chips-autocomplete tags-input"></div>

        <%= f.fields_for :contact_values do |value_form| %>

          <div class="input-field">
            <% cp = ContactProperty.find(value_form.object.contact_property_id) %>

            <%= value_form.hidden_field :id, value: value_form.object.id %>
            <%= value_form.hidden_field :contact_property_id, value: value_form.object.contact_property_id %>
            <% if cp.data_type == "date" %>
              <%= value_form.text_field :date_value, class: "datepicker" %>
              <%= value_form.label :date_value, "#{cp.property}" %>
            <% elsif cp.data_type == "number" %>
              <%= value_form.number_field :number_value, step: :any %>
              <%= value_form.label :number_value, "#{cp.property}" %>
            <% else %>
              <%= value_form.text_field :value %>
              <%= value_form.label :value, "#{cp.property}" %>
            <% end %>
          </div>
        <% end %>

      </div>

      <div class="edit-profile-actions card-action">
        <%= link_to 'New Contact Property', new_contact_property_path %>

        <%= button_tag(id: "submit", type: 'submit', class: "btn waves-effect waves-light") do %>
          Save
        <% end %>
      </div>
    <% end %>

<script>

// $( document ).on('turbolinks:load', function() {

    var contactExistingTags = []
    <% contact.all_tags_list.each do |tag| %>
      contactExistingTags.push(
        { tag: "<%= tag %>"}
      )
    <% end %>

    var orgTags = []
    <% @active_org.owned_tags.each do |tag| %>
      orgTags.push(
        { tag: "<%= tag.name %>", id: <%= tag.id %>}
      )
    <% end %>

    var autocompleteTags = {}
    $.each(orgTags, function(index, value) {
      autocompleteTags[value.tag] = null;
    });

    //
    $('.chips-autocomplete').material_chip({
      data: contactExistingTags,
      placeholder: 'Enter a tag',
      secondaryPlaceholder: '+Tag',
      autocompleteData: autocompleteTags
    });

    $('#contact_tag_list').val(contactExistingTags)

    $('.chips').on('chip.add', function(e, chip){
      // you have the added chip here
      contactExistingTags.push(
        chip
      )
      $('#contact_tag_list').val(contactExistingTags)
    });

    $('.chips').on('chip.delete', function(e, chip){
      // you have the deleted chip here
      $.each(contactExistingTags, function(i){
          if(contactExistingTags[i].tag === chip.tag) {
              contactExistingTags.splice(i,1);
              return false;
          }
      });

      $('#contact_tag_list').val(contactExistingTags)
    });

    // $('.chips').on('chip.select', function(e, chip){
    //   // you have the selected chip here
    //   console.log('Selecting chip', chip)
    // });

    $('#edit_contact_<%= contact.id %>').submit(function( event ) {
      var tagStringArray = []
      $.each(contactExistingTags, function(i){
        tagStringArray.push(
          contactExistingTags[i].tag
        )
      });
      $('#contact_tag_list').val(tagStringArray)
    });

    $('#new_contact').submit(function( event ) {
      var tagStringArray = []
      $.each(contactExistingTags, function(i){
        tagStringArray.push(
          contactExistingTags[i].tag
        )
      });
      $('#contact_tag_list').val(tagStringArray)
    });

    $('.datepicker').pickadate({

      selectMonths: true, // Creates a dropdown to control month
      selectYears: true, // Creates a dropdown of years without a limited range
      // selectYears: 2 // Creates a dropdown of 2 years to control year
    });

// });

</script>
