<table class="bordered responsive-table highlight">
 <thead>
   <tr>
       <th>
         <input type="checkbox" id="select-all" />
         <label for="select-all"></label>
       </th>
       <th class="sort" data-sort="name" data-field="name">Name</th>
       <% if current_person.show_contact_tags_in_table %>
         <th class="sort" data-sort="tags" data-field="tags">Tags</th>
       <% end %>
       <% if current_person.show_contact_phone_in_table %>
       <th class="sort" data-sort="default-phone" data-field="default-phone">Phone</th>
       <% end %>
       <% if current_person.show_contact_email_in_table %>
       <th class="sort" data-sort="default-email" data-field="default-email">Email</th>
       <% end %>
       <% if current_person.show_contact_next_task_in_table %>
       <th class="sort" data-sort="next_reminder" data-field="next_reminder">Next Task</th>
       <% end %>
       <% if current_person.show_contact_last_activity_in_table %>
       <th class="sort" data-sort="last_active" data-field="last_active">Last Activity</th>
       <% end %>
       <% @active_org.contact_properties.each do |cp| %>
          <% if cp.show_in_table %>
            <th class="sort" class="sort" data-sort="<%= cp.id %>" data-field="<%= cp.id %>"><%= cp.property %></th>
          <% end %>
       <% end %>
   </tr>
 </thead>
 <tbody class="list">
   <% contacts.each do |contact| %>
    <tr>
      <td style="display: flex; justify-content: center; align-items: center;">
        <input type="checkbox" id="select-<%= contact.id %>" />
        <label for="select-<%= contact.id %>"></label>
      </td>
      <td>
        <%= link_to contact_path(contact.id), class: "name" do %>
          <%= contact.last_name %>, <%= contact.first_name %>
        <% end %>
      </td>
      <% if current_person.show_contact_tags_in_table %>
        <td class="tags">
           <% contact.tags.each do |tag| %>
             <div class="chip">
               <%= tag.name %>
             </div>
           <% end %>
         </td>
      <% end %>
      <% if current_person.show_contact_phone_in_table %>
       <td class="default-phone">
         <%= contact.phone %>
       </td>
      <% end %>
      <% if current_person.show_contact_email_in_table %>
       <td class="default-email">
          <%= contact.email %>
       </td>
      <% end %>
      <% if current_person.show_contact_next_task_in_table %>
       <td>
         <% if contact.next_reminder && contact.next_reminder == Date.tomorrow %>
            <div class="next_reminder" style="display: none;"><%= contact.next_reminder %></div>
            <div class="chip" style="background-color: rgba(0,0,255,0.25);;">
              Tomorrow
            </div>
         <% elsif contact.next_reminder && contact.next_reminder == Date.today %>
           <div class="next_reminder" style="display: none;"><%= contact.next_reminder %></div>
           <div class="chip" style="background-color: rgba(0,128,0,0.3);">
              Today
           </div>
         <% elsif contact.next_reminder && contact.next_reminder > Date.today %>
            <div class="next_reminder" style="display: none;"><%= contact.next_reminder %></div>
           <%= contact.next_reminder.strftime("%b %e")%>
         <% elsif contact.next_reminder && contact.next_reminder < Date.today %>
            <div class="next_reminder" style="display: none;"><%= contact.next_reminder %></div>
           <div class="chip" style="background-color: rgba(255, 88, 58, 0.34);">
             <%= contact.next_reminder.strftime("%b %e")%>
           </div>
         <% else %>
         <% end %>
       </td>
       <% end %>
       <% if current_person.show_contact_last_activity_in_table %>
       <td class="last_active"><%= time_ago_in_words(contact.latest_activity) %> ago</td>
       <% end %>
       <% @active_org.contact_properties.each do |cp| %>
        <% if cp.show_in_table %>
          <td class="<%= cp.id %>">
            <% if ContactValue.where(contact: contact, contact_property_id: cp.id)[0] %>
              <%= ContactValue.where(contact: contact, contact_property_id: cp.id)[0].display_value %>
            <% end %>
          </td>
        <% end %>
       <% end %>

    </tr>

   <% end %>
 </tbody>

</table>


<script>

  function remove(arr, what) {
    var found = arr.indexOf(what);
    while (found !== -1) {
        arr.splice(found, 1);
        found = arr.indexOf(what);
    }
  }

  var idsArray = []

  $( 'input[type=checkbox]' ).change(function() {
      var checkboxes = document.getElementsByTagName('input');
      if (this.id == "select-all") {
         if (this.checked) {
             for (var i = 0; i < checkboxes.length; i++) {
                 if (checkboxes[i].type == 'checkbox') {
                     checkboxes[i].checked = true;
                     if (checkboxes[i].id !== 'select-all') {
                        idsArray.push(checkboxes[i].id.replace('select-',''))
                     }
                 }
             }
         } else {
             for (var i = 0; i < checkboxes.length; i++) {
                 if (checkboxes[i].type == 'checkbox') {
                     checkboxes[i].checked = false;

                     if (checkboxes[i].id !== 'select-all') {
                       remove(idsArray, checkboxes[i].id.replace('select-',''))
                     }

                 }
             }
         }
      } else {

        if (this.checked) {
          idsArray.push(this.id.replace('select-',''))
        } else {
          remove(idsArray, this.id.replace('select-',''))
        }

      }
  });
</script>
