<table class="bordered">
 <thead>
   <tr>
       <th data-field="name">Name</th>
       <th data-field="tags">Tags</th>
       <th data-field="next_reminder">Next Reminder</th>
       <th data-field="last_active">Last Activity</th>
   </tr>
 </thead>

 <tbody>
   <% contacts.each do |contact| %>
    <tr>
      <td>
        <%= link_to contact_path(contact.id) do %>
          <%= contact.first_name %> <%= contact.last_name %>
        <% end %>
      </td>
       <td>
         <% contact.tags.each do |tag| %>
           <div class="chip">
             <%= tag.name %>
           </div>
         <% end %>
       </td>
       <td>
         <% if contact.next_reminder %>
           <%= contact.next_reminder.strftime("%b %e")%>
         <% end %>
       </td>
       <td><%= time_ago_in_words(contact.latest_activity) %> ago</td>
    </tr>
   <% end %>
 </tbody>


</table>
