<table class="bordered">
 <thead>
   <tr>
       <th class="sort" data-sort="name" data-field="name">Name</th>
       <th class="sort" data-sort="tags" data-field="tags">Tags</th>
       <th class="sort" data-sort="next_reminder" data-field="next_reminder">Next Reminder</th>
       <th class="sort" data-sort="last_active" data-field="last_active">Last Activity</th>
       <% @active_org.contact_properties.each do |cp| %>
          <% if cp.show_in_table %>
            <th class="sort" class="sort" data-sort="<%= cp.id %>" data-field="<%= cp.id %>"><%= cp.property %></th>
          <% end %>
       <% end %>
   </tr>
 </thead>
 <tbody class="list">
   <% contacts.each do |contact| %>
    <tr>
      <td>
        <%= link_to contact_path(contact.id), class: "name" do %>
          <%= contact.first_name %> <%= contact.last_name %>
        <% end %>
      </td>
      <td class="tags">
         <% contact.tags.each do |tag| %>
           <div class="chip">
             <%= tag.name %>
           </div>
         <% end %>
       </td>
       <td>
         <% if contact.next_reminder && contact.next_reminder == Date.tomorrow %>
            <div class="next_reminder" style="display: none;"><%= contact.next_reminder %></div>
            <div class="chip" style="background-color: rgba(0,0,255,0.25);;">
              Tomorrow
            </div>
         <% elsif contact.next_reminder && contact.next_reminder == Date.today %>
           <div class="next_reminder" style="display: none;"><%= contact.next_reminder %></div>
           <div class="chip" style="background-color: rgba(0,128,0,0.3);">
              Today
           </div>
         <% elsif contact.next_reminder && contact.next_reminder > Date.today %>
            <div class="next_reminder" style="display: none;"><%= contact.next_reminder %></div>
           <%= contact.next_reminder.strftime("%b %e")%>
         <% elsif contact.next_reminder && contact.next_reminder < Date.today %>
            <div class="next_reminder" style="display: none;"><%= contact.next_reminder %></div>
           <div class="chip" style="background-color: rgba(255, 88, 58, 0.34);">
             <%= contact.next_reminder.strftime("%b %e")%>
           </div>
         <% else %>
         <% end %>
       </td>
       <td class="last_active"><%= time_ago_in_words(contact.latest_activity) %> ago</td>

       <% @active_org.contact_properties.each do |cp| %>
        <% if cp.show_in_table %>
          <td class="<%= cp.id %>"><%= ContactValue.where(contact: contact, contact_property_id: cp.id)[0].display_value %></td>
        <% end %>
       <% end %>

    </tr>

   <% end %>
 </tbody>

</table>
