<div style="margin: 20px;">

  <!-- <% if @new_submissions.length > 0 %>
    <div class="container">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <p>
            You have <%= @new_submissions.length %> new submission<% if @new_submissions.length > 1 %>s<% end %>. <a href="<%= submissions_path %>" style="color: white; text-decoration:underline;">Check <% if @new_submissions.length > 1 %>them<% else %>it<% end %> out</a>.
          </p>
        </div>
      </div>
    </div>
  <% end %> -->

  <div class="card team-card">
    <div class="row">
      <div id="contacts" class="col s12" style="position: relative;">
        <nav style="background-color: #ffffff;">
          <div class="nav-wrapper" id="search-nav-wrapper">
            <form onsubmit="event.preventDefault()">
              <div class="input-field">
                <input id="search" class="search" style="height: 64px !important;" type="search"></input>
                <label class="label-icon" for="search">
                  <i class="material-icons" style="">search</i>
                </label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
        <%= render(
          partial: 'contacts/list',
          locals: { contacts: @contacts }
        ) %>
      </div>
    </div>

  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <%= form_tag '/contact_email', remote: true do |f| %>
  <div class="modal-content">

      <div class="card-content">

        <div class="row" style="display: flex; align-items: baseline;">
          <div class="input-field col s8 m8 l8">
            <%= select_tag :template_select, options_for_select(@template_select_options) %>
          </div>
          <div class="input-field col s4 m4 l4">
            <%= link_to 'Email Templates', email_templates_path %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= text_field_tag :subject %>
            <%= label_tag :subject %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= text_area_tag :body, nil, class: "materialize-textarea" %>
            <%= label_tag :body %>
          </div>
        </div>
        <%= hidden_field_tag :contact_list %>

      </div>

  </div>
  <div class="modal-footer">
    <%= button_tag(id: "email-submit", type: 'submit', class: "btn waves-effect waves-light") do %>
      Send Email
    <% end %>
  </div>
  <% end %>
</div>

<!-- <th data-field="name">Name</th>
<th data-field="tags">Tags</th>
<th data-field="next_reminder">Next Reminder</th>
<th data-field="last_active">Last Activity</th> -->

<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Contact" href="<%= new_contact_path %>"><i class="material-icons">person_add</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Task" href="<%= new_reminder_path %>"><i class="material-icons">check_box</i></a></li>
    <li>
      <a
        id="email-button"
        class="btn-floating tooltipped"
        data-position="left"
        data-delay="70"
        data-tooltip="Email"
        href="#modal1">
        <i class="material-icons">mail_outline</i>
      </a>
    </li>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Note" href="<%= new_note_path %>"><i class="material-icons">note_add</i></a></li>
  </ul>
</div>

<script>


  $( document ).on('ready turbolinks:load', function() {
     // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
     $('.modal').modal();

     $('#email-submit').on('click', function() {

         console.log($('#contact_list').val())
         console.log($('#contact_list'))

        $('#contact_list').val(JSON.stringify(idsArray))
     });
   });

  var setRubyArray = function() {
    $.ajax({
          url : "<%= post_contact_new_email_url %>",
          type : "post",
          data : { contacts: JSON.stringify(idsArray) }
      });
  }

  var baseArray = [
    'name',
    'tags',
    'next_reminder',
    'last_active'
  ]

  var comboArray = baseArray.concat(<%= @table_property_names %>)

  var options = {
    valueNames: comboArray
  };

  var hackerList = new List('contacts', options);




  $( document ).on('ready', function() {
    $('#template_select').material_select('destroy');
    $('#template_select').material_select();
  });

  var email_templates = <%= raw json_escape(@email_templates.to_json) %>

  $('#template_select').material_select('destroy');
  $('#template_select').material_select();

  $('#template_select').change(function() {

    var template = $.grep(email_templates, function(e){ return e.id == $('#template_select').val(); })[0];
    // console.log($('#template_select').val());

    var template_body = $.parseHTML(`<div>${template.body}</div>`)

    $('#body').val(template.body)
    $('#body').trigger('autoresize');
    $('#body').focus();

    console.log(template_body)

  });


</script>
