<div style="margin: 20px;">
  <div class="card team-card">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#tasks">Tasks</a></li>
          <li class="tab col s6"><a href="#contacts">People</a></li>
        </ul>
      </div>
      <div id="tasks" class="col s12">
        <div class="card-content">
          <div id="task_list_container">
            <%= render 'task_list', reminders: @current_person_tasks, truncate_length: 50 %>
          </div>
        </div>
      </div>
      <div id="contacts" class="col s12" style="position: relative;">
        <nav style="background-color: #ffffff;">
          <div class="nav-wrapper" id="search-nav-wrapper">
            <form onsubmit="event.preventDefault()">
              <div class="input-field">
                <input id="search" class="search" style="height: 64px !important;" type="search"></input>
                <label class="label-icon" for="search">
                  <i class="material-icons" style="">search</i>
                </label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
        <%= render(
          partial: 'contacts/list',
          locals: { contacts: @contacts }
        ) %>
      </div>
    </div>

  </div>
</div>

<!-- <th data-field="name">Name</th>
<th data-field="tags">Tags</th>
<th data-field="next_reminder">Next Reminder</th>
<th data-field="last_active">Last Activity</th> -->

<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Contact" href="<%= new_contact_path %>"><i class="material-icons">person_add</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Task" href="<%= new_reminder_path %>"><i class="material-icons">check_box</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Email" href="<%= contact_new_email_path %>"><i class="material-icons">mail_outline</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Note" href="<%= new_note_path %>"><i class="material-icons">note_add</i></a></li>
  </ul>
</div>

<script>

  var baseArray = [
    'name',
    'tags',
    'next_reminder',
    'last_active'
  ]

  var comboArray = baseArray.concat(<%= @table_property_names %>)

  var options = {
    valueNames: comboArray
  };

  var hackerList = new List('contacts', options);
</script>
