<div style="margin: 20px;">

  <!-- <% if @new_submissions.length > 0 %>
    <div class="container">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <p>
            You have <%= @new_submissions.length %> new submission<% if @new_submissions.length > 1 %>s<% end %>. <a href="<%= submissions_path %>" style="color: white; text-decoration:underline;">Check <% if @new_submissions.length > 1 %>them<% else %>it<% end %> out</a>.
          </p>
        </div>
      </div>
    </div>
  <% end %> -->

  <div class="card team-card">
    <div class="row">
      <div id="contacts" class="col s12" style="position: relative;">
        <nav style="background-color: #ffffff;">
          <div class="nav-wrapper" id="search-nav-wrapper">
            <form onsubmit="event.preventDefault()">
              <div class="input-field">
                <input id="search" class="search" style="height: 64px !important;" type="search"></input>
                <label class="label-icon" for="search">
                  <i class="material-icons" style="">search</i>
                </label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
        <%= render(
          partial: 'contacts/list',
          locals: { contacts: @contacts }
        ) %>
      </div>
    </div>

  </div>
</div>

<!-- <th data-field="name">Name</th>
<th data-field="tags">Tags</th>
<th data-field="next_reminder">Next Reminder</th>
<th data-field="last_active">Last Activity</th> -->

<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Contact" href="<%= new_contact_path %>"><i class="material-icons">person_add</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Task" href="<%= new_reminder_path %>"><i class="material-icons">check_box</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Email" href="<%= contact_new_email_path %>"><i class="material-icons">mail_outline</i></a></li>
    <li><a class="btn-floating tooltipped" data-position="left" data-delay="70" data-tooltip="Note" href="<%= new_note_path %>"><i class="material-icons">note_add</i></a></li>
  </ul>
</div>

<script>

  var baseArray = [
    'name',
    'tags',
    'next_reminder',
    'last_active'
  ]

  var comboArray = baseArray.concat(<%= @table_property_names %>)

  var options = {
    valueNames: comboArray
  };

  var hackerList = new List('contacts', options);
</script>
