
<div class="container">

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            <%= @contact.first_name %> <%= @contact.last_name %>
          </div>

          <div class="tag-area">
            <% @contact.tags.each do |tag| %>
              <div class="chip">
                <%= tag.name %>
                <!-- <i class="close material-icons">close</i> -->
              </div>
            <% end %>
          </div>

          <p style="display: flex; justify-content: space-between;">
            Phone:
            <strong><a href="tel:<%= number_to_phone(@contact.phone) %>"><%= number_to_phone(@contact.phone) %></a></strong>
          </p>

          <p style="margin-bottom: 15px; display: flex; justify-content: space-between;">
            Email:
            <strong><a href="mailto:<%= @contact.email %>" target="_blank"><%= @contact.email %></a></strong>
          </p>

          <% if @contact.contact_values.length > 0 %>
            <hr style="margin-bottom: 15px;">
          <% end %>

          <% @contact.contact_values.each do |value| %>
            <% if value.date_value %>
              <p style="display: flex; justify-content: space-between;">
                <%= value.contact_property.property %>:
                <strong><%= value.display_value.strftime("%B #{value.display_value.day.ordinalize}, %Y") %></strong>
              </p>
            <% elsif value.number_value %>
              <p style="display: flex; justify-content: space-between;">
                <%= value.contact_property.property %>:
                <strong><%= value.display_value %></strong>
              </p>
            <% elsif value.value && value.value.length > 0 %>
              <p style="display: flex; justify-content: space-between;">
                <%= value.contact_property.property %>:
                <strong><%= value.display_value %></strong>
              </p>
            <% else %>
            <% end %>

          <% end %>

        </div>
        <div class="edit-profile-actions card-action">
          <%= link_to 'Edit Contact', edit_contact_path(@contact), class: "btn waves-effect waves-light" %>
        </div>
      </div>
    </div>
    </div>

    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">New Note</span>
        </div>
        <div id="new-note" class="col s12" style="padding: 0px;">
          <%= render 'notes/form', note: @note, contact: @contact %>
        </div>
      </div>
    </div>

    <div id="activity_list_container">
      <%= render 'activity_list', activities: @activities %>
    </div>

</div>

<script>

  $("ul.tabs").tabs({
    onShow: function(tab) {

      console.log($('select').hasClass("initilialized"))

      $('select').material_select('destroy');
      $('select').material_select();
      $('.reminder').pickadate({

        selectMonths: true, // Creates a dropdown to control month
        selectYears: 3, // Creates a dropdown of years without a limited range
        min: new Date()
        // selectYears: 2 // Creates a dropdown of 2 years to control year
      });
    }
  });

  $(':checkbox').change(function(event) {

    // console.log(event)
    // console.log(this.id, this.checked)
    // console.log(event.id, event.checked)
          // do stuff here. It will fire on any checkbox change

  });

</script>
