
<!-- <div class="container"> -->

  <div class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            <%= @contact.first_name %> <%= @contact.last_name %>
          </div>

          <div class="tag-area">
            <% @contact.tags.each do |tag| %>
              <div class="chip">
                <%= tag.name %>
                <!-- <i class="close material-icons">close</i> -->
              </div>
            <% end %>
          </div>

          <p style="display: flex; justify-content: space-between;">
            Phone:
            <strong><%= number_to_phone(@contact.phone) %></strong>
          </p>

          <p style="margin-bottom: 15px; display: flex; justify-content: space-between;">
            Email:
            <strong><a href="mailto:<%= @contact.email %>" target="_blank"><%= @contact.email %></a></strong>
          </p>

          <% if @contact.contact_values.length > 0 %>
            <hr style="margin-bottom: 15px;">
          <% end %>

          <% @contact.contact_values.each do |value| %>
            <% if value.value && value.value.length > 0 %>
              <p style="display: flex; justify-content: space-between;">
                <%= value.contact_property.property %>:
                <strong><%= value.value %></strong>
              </p>
            <% end %>
          <% end %>

        </div>
        <div class="edit-profile-actions card-action">
          <%= link_to 'Edit Contact', edit_contact_path(@contact), class: "btn waves-effect waves-light" %>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="card-title" style="margin-bottom: 15px;">
            Tasks
          </div>
          <div id="task_list_container">
            <%= render 'task_list', reminders: @contact.reminders, truncate_length: 20 %>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m8 l8">
      <div class="card">
        <div class="row">
          <div class="col s12" style="padding: 0px;">
            <ul class="tabs">
              <li class="tab col s4"><a class="active" href="#new-email">New Email</a></li>
              <li class="tab col s4"><a href="#new-task">New Task</a></li>
              <li class="tab col s4"><a href="#new-note">New Note</a></li>
            </ul>
          </div>
          <div id="new-email" class="col s12" style="padding: 0px;">
            <%= render 'email_form', email: @email, contact: @contact %>
          </div>
          <div id="new-task" class="col s12" style="padding: 0px;">
            <%= render 'reminders/form', reminder: @reminder, contact: @contact %>
          </div>
          <div id="new-note" class="col s12" style="padding: 0px;">
            <%= render 'notes/form', note: @note, contact: @contact %>
          </div>

        </div>
      </div>

      <!-- <div class="section"> -->
        <!-- <div class="section-headline">
          <h3>Notes</h3>
          <%= link_to 'New Note', new_note_path(contact: @contact.id), class: "btn waves-effect waves-light" %>
        </div> -->
        <div id="activity_list_container">
          <%= render 'activity_list', activities: @activities %>
        </div>
      <!-- </div> -->
    </div>
  </div>
<!-- </div> -->

<script>

  $("ul.tabs").tabs({
    onShow: function(tab) {

      console.log($('select').hasClass("initilialized"))

      $('select').material_select('destroy');
      $('select').material_select();
      $('.reminder').pickadate({

        selectMonths: true, // Creates a dropdown to control month
        selectYears: 3, // Creates a dropdown of years without a limited range
        min: new Date()
        // selectYears: 2 // Creates a dropdown of 2 years to control year
      });
    }
  });

  $(':checkbox').change(function(event) {

    // console.log(event)
    // console.log(this.id, this.checked)
    // console.log(event.id, event.checked)
          // do stuff here. It will fire on any checkbox change

  });

</script>
