<div style="background: <%= @player_fee.fee.team.color %>">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <%= @player_fee.fee.team.name %>
        </div>
        <div class="team-registration-price flow-text">
          <div><%= @person.first_name %> <%= @person.last_name %>'s <%= @player_fee.fee.label %></div>
          <span class="dollar-amount"><%= number_to_currency(@player_fee.amount / 100.0) %></span>
        </div>
      </div>
    </div>

    <% if @player_fee.paid %>
    
      <div class="card">
        <div class="card-content">
          <div class="team-registration-price flow-text">
            You have already paid this fee. Thank you.
          </div>
        </div>
      </div>

    <% else %>

      <div class="card checkout-team-card">
        <%= form_tag player_fee_payment_path, id: "payment-form" do %>
          <div class="card-content">

            <div class="card-title">
              Payment Details
            </div>

            <% unless @person.id %>
              <p>Personal Info</p>

              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <%= text_field_tag :first_name, "#{@person.first_name}" %>
                  <%= label_tag :first_name %>
                </div>

                <div class="input-field col s12 m6 l6">
                  <%= text_field_tag :last_name, @person.last_name %>
                  <%= label_tag :last_name %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= email_field_tag :email, @person.email %>
                  <%= label_tag :email %>
                </div>
              </div>
            <% end %>

            <p class="debit-explanation">
              Card Info
            </p>
            <span class="payment-errors"></span>
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <input class="ccInput cc-num" type="tel" size="20" placeholder="&#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;" autocompletetype="cc-number" data-stripe="number">
                <span class="card-icon" aria-hidden="true"></span>
                <label>
                  Card Number
                </label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 m6 l6">
                <input class="ccInput cc-exp" type="tel" size="2" placeholder="MM/YY" autocompletetype="cc-exp" data-stripe="exp">
                <label>
                  Expiration
                </label>
              </div>
              <div class="input-field col s6 m6 l6">
                <input class="ccInput cc-cvc" type="tel" size="4" placeholder="&#8226;&#8226;&#8226;" autocomplete="off" data-stripe="cvc">
                <label>
                  CVC
                </label>
              </div>
            </div>

            <input type="hidden" name="pf" value="<%= @player_fee.id %>">

            <%# TODO: Change this currency to be a select as I add more countries %>
            <input type="hidden" value="usd" data-stripe="currency">


            <p class="agreement-line">
              By making this payment you agree to our <%= link_to 'terms of service', tos_path, target: '_blank' %>.
            </p>

          </div>
          <div class="card-action edit-profile-actions">
            <input type="submit" class="submit waves-effect waves-light btn white blue-grey-text" value="Pay <%= number_to_currency(@player_fee.amount / 100.0) %>">
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

<script>
  Stripe.setPublishableKey("<%= ENV['stripe_publishable_key'] %>");
  $('input.cc-num').payment('formatCardNumber');
  $('input.cc-exp').payment('formatCardExpiry');
  $('input.cc-cvc').payment('formatCardCVC');

  var validateDetails = function() {

    var expiry = $('.cc-exp').payment('cardExpiryVal');
    var validateExpiry = $.payment.validateCardExpiry(expiry["month"], expiry["year"]);
    var validateCVC = $.payment.validateCardCVC($('.cc-cvc').val());

    if (validateExpiry) {
      $('.cc-exp').addClass('identified');
      $('.cc-exp').addClass('valid');
    } else {
      $('.cc-exp').removeClass('identified');
      $('.cc-exp').removeClass('valid');
    }

    if (validateCVC) {
      $('.cc-cvc').addClass('identified');
      $('.cc-cvc').addClass('valid');
    } else {
      $('.cc-cvc').removeClass('identified');
      $('.cc-cvc').removeClass('valid');
    }


    if (Stripe.validateCardNumber($('input.cc-num').val())) {
      $('.cc-num').addClass("valid");
      $('.cc-num').removeClass("invalid");
    } else {
      $('.cc-num').removeClass("valid");
      $('.cc-num').addClass("invalid");
    }

  }

  $('.ccInput').bind('change paste keyup', function() {
    validateDetails();
  });


  $(function() {
    var $form = $('#payment-form');

    $form.submit(function(event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('.submit').prop('disabled', true);

      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.payment-errors').show();
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;
      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  };

</script>
