<div class="container">

  <!-- <div class="card">
    <div class="card-content">

      <% if @filtered_players.length == 0 %>
        <p class="flow-text">
          It looks like no players match your search criteria. <%= link_to "Try another search", find_path %> with broadened criteria.  If you believe you are getting this message in error, please <a href="mailto:subs@playonside.com">contact us</a>.
        </p>
      <% else %>

        <table class="bordered">
         <thead>
           <tr>
               <th data-field="id">Name</th>

               <th data-field="delete">Don't Email</th>
           </tr>
         </thead>

         <tbody>
           <% @filtered_players.each do |player| %>
             <tr>
               <td><%= player[:first_name] %> <%= player[:last_name] %></td>


               <td>
                 <span id="<%= player[:email] %>" class="player-delete"><i class="material-icons" style="color: tomato;">mail_outline</i></span>
               </td>
             </tr>
           <% end %>
         </tbody>
       </table>
      </div>
    <% end %>
  </div> -->

<%= form_tag email_path do %>

  <div class="card">
    <div class="card-content">
      <div class="row">
        <form class="col s12">
          <div class="row">

            <div class="input-field col s12">
              <input placeholder="Subject" id="subject" name="subject" type="text" class="validate" value="We Need Subs: <%= @game_date %> at <%= @game_time %> at <%= @location %>">
              <label for="subject">Subject</label>
            </div>

            <div class="input-field col s12">
              <textarea id="body" name="body" class="materialize-textarea"></textarea>
              <label for="body">Email Body</label>
            </div>

            <input id="recipients" name="recipients" type="hidden" value="" />
            <input id="sms" name="sms" type="hidden" value="" />

          </div>
        </form>
      </div>
    </div>
    <div class="edit-profile-actions card-action">
      <% if @filtered_players.length > 0 %>
        <a href="<%= find_subs_path %>">
          Back to game and lists
        </a>
        <%= button_tag id: "mail_button", class: "btn waves-effect waves-light" do %>
          Email <%= @filtered_players.length %> Players
        <% end %>
      <% else %>
        <div>
          You need to select a list with players in order to send an email.
        </div>
        <a href="<%= find_subs_path %>">
          Setup game and select list(s)
        </a>
      <% end %>
    </div>
  </div>

<% end %>

</div>

<script>

  function remove(arr, what) {
    var found = arr.indexOf(what);
    while (found !== -1) {
        arr.splice(found, 1);
        found = arr.indexOf(what);
    }
  }

  var activePlayers = [];
  <% @filtered_players.each do |player| %>
    activePlayers.push("<%= player[:id] %>")
  <% end %>

  var recipientsInput = $('#recipients')
  recipientsInput.val(activePlayers)



  var button = $('#mail_button')
  var deleteButtons = $('.player-delete')

  deleteButtons.on("click", function(e){
    var row = e.currentTarget.closest('tr');
    remove(activePlayers, e.currentTarget.id);
    recipientsInput.val(activePlayers)
    $(row).hide()
  });

  var emailString = function(playersArr) {
    var emailString = playersArr.join(", ")
    return emailString
  }

  var dayAndTime = encodeURIComponent("<%= @game_date %> at <%= @game_time %>".replace(/&#39;/g, "\'"));
  var field = encodeURIComponent(("<%= @location %>").replace(/&#39;/g, "\'"));

  // console.log("<%= @location %>")
  // console.log("<%= @location %>".replace(/&#39;/g, "'"))
  // console.log(encodeURIComponent("<%= @location %>".replace(/&#39;/g, "%27")))
  // console.log(encodeURIComponent("<%= @location %>".replace(/&#39;/g, "\'")))

  var personName = encodeURIComponent("<%= @person.first_name %> <%= @person.last_name %>".replace(/&#39;/g, "\'"));
  var orgName = encodeURIComponent("<%= @org.name %>".replace(/&#39;/g, "\'"));
  var newLine = "%0D%0A";

  $('#body').val(
    "Hey %recipient.first%," + '\n' + '\n' + "We need subs for a game " + "<%= @game_date %> at <%= @game_time %>" + " at " + "<%= @location %>" + ". If you are certain you can make it please let me know as soon as possible so I can put you in touch with the team captain." + '\n' + '\n' + "Thanks, " + '\n' + '\n' + "<%= @person.first_name %> <%= @person.last_name %>" + " for " + "<%= @org.name %>"
  )

  $('#sms').val(
    "We need subs for a game " + "<%= @game_date %> at <%= @game_time %>" + " at " + "<%= @location %>" + ". If you are certain you can make it please let me know as soon as possible so I can put you in touch with the team captain." + '\n' + '\n' + "Thanks, " + '\n' + '\n' + "<%= @person.first_name %> <%= @person.last_name %>" + " for " + "<%= @org.name %>"
  )

  // button.click(function(e) {
  //
  //   var mailString = "mailto:subs@playonside.com?bcc=" + emailString(activePlayers) + "&subject=We Need Subs: " + dayAndTime + " at " + field + "&body=Hey Guys," + newLine + newLine + " We need subs for a game this " + dayAndTime + " at " + field + ". If you are certain you can make it please let me know as soon as possible so I can put you in touch with the team captain." + newLine + newLine + "Thanks, " + newLine + newLine + personName + " for " + orgName
  //
  //   console.log(mailString)
  //
  //   window.location.href = mailString;
  // })

</script>
