<!--
TODO
Who - Registration
What - Sport
Where - Location
When - Timeframe
How Much - Cost
 -->

<div class="profile-page">
  <div class="profile-card card">

    <%= form_for(@season, url: wizard_path, method: :put) do |f|  %>
        <div class="card-content">
          <div class="container">
            <h4>What are you playing?</h4>
            <div class="input-field col s12">
              <%= f.select :sport, options_for_select([['Choose your sport', "", {disabled: true, selected: true}],['Soccer', 'Soccer'], ['Hockey','Hockey'], ['Lacrosse','Lacrosse']]) %>
            </div>

            <h4>Where are you playing?</h4>
            <div class="input-field col s12">
              <%= f.text_field :location%>
              <%= f.label :address %>
            </div>

            <h4>When are the games?</h4>
            <div class="input-field col s12">
              <%= collection_select(:season, :timeframe_ids,
              Timeframe.all,
              :id, :friendly_label, {selected: @season.timeframe_ids, prompt: "Select timeframe(s)"}, {multiple: true}) %>
            </div>
          </div>
        </div>
      <div class="edit-profile-actions card-action">
        <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
          Next
        <% end %>
      </div>
    <% end %>
  </div>
</div>
