<div class="main-content container">
  <div class="card">
    <div class="card-title with-actions">
      <span><%= @fee.label %></span><span class="details"><%= number_to_currency(@fee.total_paid / 100.0) %> / <%= number_to_currency(@fee.total_amount / 100.0 ) %></span>
    </div>

    <!-- I need to include an amount disbursed_amount and net, then show buttons conditionally around net. OR maybe.... move cash out action to org. -->

    <!-- <% if @fee.total_paid > 0 %>
      <div class="card-action edit-profile-actions">
        <%= link_to "Cash Out", "http://playonside.com", class: "btn waves-effect waves-light" %>
      </div>
    <% end %> -->
  <!-- </div>


  <div class="card"> -->
    <!-- <div class="card-content">
      <div class="card-title">
        <%= @fee.label %>
      </div>
      <div>
        <span>Payment</span><span class="details"><%= number_to_currency(@fee.total_paid / 100.0) %> / <%= number_to_currency(@fee.total_amount / 100.0 ) %></span>
      </div>
    </div> -->
      <ul class="collection team">
        <% @fee.player_fees.each do |player_fee| %>
          <li class="collection-item avatar valign-wrapper">
           <%= link_to profile_path(player_fee.person) do %>
             <% if player_fee.person.avatar.length > 2 then %>
             <img class="circle" src="<%= player_fee.person.avatar %>">
             <% else %>
             <i class="material-icons circle valign">account_circle</i>
             <% end %>
           <% end %>
           <%= link_to profile_path(player_fee.person) do %>
             <span class="valign"><%= player_fee.person.first_name %> <%= player_fee.person.last_name %></span>
           <% end %>
            <span class="secondary-content valign">
              <a class="secondary-content" href="mailto:<%= player_fee.person.email %>">
                <% if player_fee.paid %>
                  <div style="color: #4a4a4a;">Paid</div>
                <% else %>
                <div style="color: tomato;">Unpaid</div>
                <% end %>
                <!-- <i
                  class="material-icons"
                  <% if player_fee.paid %>
                    style="color: #4a4a4a;"
                  <% else %>
                    style="color: tomato;"
                  <% end %>
                >attach_money</i> -->
              </a>
            </span>
          </li>
        <% end %>
        <!-- <li class="collection-item avatar valign-wrapper" style="padding-left: 15px;">
            <a href="<%= new_fee_path(:team => @fee.team_id) %>" class="btn-floating btn waves-effect waves-light valign" style="background-color: <%= @fee.team.color %>; height: 42px; width: 42px;">
              <i class="material-icons" style="line-height: 42px;">add</i>
            </a>
          <%= link_to new_fee_path(:team => @fee.team_id) do %>
            <span class="valign" style="margin-left: 15px">New Person Fee</span>
          <% end %>
        </li> -->
      </ul>
  </div>
</div>
