<div class="mini-header"></div>
<!-- <div class="profile-page"> -->
  <div class="container">

    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="card-title">
          Create Your Profile
        </div>
        <p>
          Your date of birth and address will be kept private.  We collect this information in compliance with Know Your Customer regulations in order to protect our users from fraud.
        </p>
      </div>
    </div>

    <div class="card">
    <%= form_for(@person, url: wizard_path, method: :put) do |f| %>
      <div class="card-content">
        <div class="mdl-card__title mdl-card--expand">
          <div class="profile-header">
            <%= f.label :avatar  do %>
              <% if @person.avatar.length > 1 then %>
                <div class="profile-avatar">
                  <div class="section__circle--big large-avatar editable">
                      <img id="avatar" src="<%= @person.avatar %>">
                      <div class="change-label">Change</div>
                  </div>
                </div>
              <% else %>
                <div class="profile-avatar">
                  <div class="section__circle--big large-avatar editable">
                      <%= image_tag "anonymous_material.png", id: "avatar" %>
                      <div class="change-label">Change</div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <%= f.file_field :avatar, style: "display: none;", class: 'photo_upload', onchange: "loadFile(event)" %>

            <div class="row">
              <div class="input-field col s12 m6 l6">
                <%= f.text_field :first_name, required: true %>
                <%= f.label :first_name %>
              </div>

              <div class="input-field col s12 m6 l6">
                <%= f.text_field :last_name, required: true %>
                <%= f.label :last_name %>
              </div>
            </div>

            <hr class="faint">

            <div class="row">
              <div class="input-field col s12 m6 l6">
                <%= f.email_field :email, required: true %>
                <%= f.label :email %>
              </div>

              <div class="input-field col s12 m6 l6">
                <%= f.date_field :date_of_birth, class: "datepicker birthdate", required: true %>
                <%= f.label :date_of_birth %>
              </div>
            </div>

            <hr class="faint">

            <div class="row">
              <div class="input-field col s12 m6 l6">
                <%= f.text_field :street_address, required: true %>
                <%= f.label :street_address %>
              </div>
              <div class="input-field col s12 m6 l6">
                <%= f.text_field :locality, required: true %>
                <%= f.label :city %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m6 l6">
                <%= f.select :region, options_for_select([
                  ['Select State', "", {disabled: true, selected: true}],
                  ['AL', 'AL'],
                  ['AK','AK'],
                  ['AZ','AZ'],
                  ['AR','AR'],
                  ['CA','CA'],
                  ['CO','CO'],
                  ['CT','CT'],
                  ['DE','DE'],
                  ['FL','FL'],
                  ['GA','GA'],
                  ['HI','HI'],
                  ['ID','ID'],
                  ['IL','IL'],
                  ['IN','IN'],
                  ['IA','IA'],
                  ['KS','KS'],
                  ['KY','KY'],
                  ['LA','LA'],
                  ['ME','ME'],
                  ['MD','MD'],
                  ['MA','MA'],
                  ['MI','MI'],
                  ['MN','MN'],
                  ['MS','MS'],
                  ['MO','MO'],
                  ['MT','MT'],
                  ['NE','NE'],
                  ['NV','NV'],
                  ['NH','NH'],
                  ['NJ','NJ'],
                  ['NM','NM'],
                  ['NY','NY'],
                  ['NC','NC'],
                  ['ND','ND'],
                  ['OH','OH'],
                  ['OK','OK'],
                  ['OR','OR'],
                  ['PA','PA'],
                  ['RI','RI'],
                  ['SC','SC'],
                  ['SD','SD'],
                  ['TN','TN'],
                  ['TX','TX'],
                  ['UT','UT'],
                  ['VT','VT'],
                  ['VA','VA'],
                  ['WA','WA'],
                  ['WV','WV'],
                  ['WI','WI'],
                  ['WY','WY']
                  ]), required: true %>
                <%= f.label :state %>
              </div>

              <div class="input-field col s12 m6 l6">
                <%= f.text_field :postal_code, required: true %>
                <%= f.label :zip %>
              </div>
            </div>

          </div>
        </div>
      </div>
    <div class="edit-profile-actions card-action">
      <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
        Save and Continue
      <% end %>
    </div>
    <% end %>
  </div>
</div>
