<div class="mini-header"></div>
<div class="profile-page">
  <div class="container">

    <!-- <div class="season-preview-container container"> -->
      <div class="card checkout-team-card">
        <div class="card-content">
          <div class="season-title">
            <div class="checkout-team-header">
              <div class="name" style="color: <%= @team.color %>;">
                <%= @team.name %>
              </div>
            </div>
          </div>

          <div class="season-details-row">
            <i class="material-icons" style="color: <%= @team.color %>;">date_range</i>
            <div class="season-details">
              <div>
                <% timeframe_array = [] %>
                <% @team_season.season.timeframes.each do |timeframe| %>
                  <% timeframe_array.push(timeframe.friendly_label)  %>
                <% end %>
                <%= timeframe_array.to_sentence  %>
              </div>
              <div>
                <% if @team_season.season.start_date != nil %>
                  <span>Starting <%= @team_season.season.start_date.strftime("%B #{@team_season.season.start_date.day.ordinalize}") %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="season-details-row">
            <i class="material-icons" style="color: <%= @team.color %>;">map</i>
            <div class="season-details">
              <%= @team_season.season.location %>
            </div>
          </div>

          <% if @team_season.cost != nil %>
            <div class="season-signup">
              <div class="season-sub-cost"><span>League Fee:</span><span><%= number_to_currency(@team_season.new_player_cost) %></span></div>
              <div class="season-sub-cost"><span>Team Management Fee:</span><span><%= number_to_currency((@team_season.new_player_cost * 0.1).round)  %></span></div>
              <hr>
              <div class="season-total-cost"><span>Season Cost:</span><span><%= number_to_currency((@team_season.new_player_cost) + (@team_season.new_player_cost * 0.1).round)  %></span></div>
            </div>
          <% end %>
        </div>
      </div>
    <!-- </div> -->
    <%= render 'team_seasons/braintree_hosted_fields', person: @person, team_season: @team_season, client_token: @client_token %>


  </div>
</div>
