<div class="mini-header"></div>
<!-- <div class="profile-page"> -->
  <div class="container">

    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="card-title">
          Finish Registration
        </div>
        <p>
          You're ready to save your season and start inviting other players.  You need to pay for your own place in the team with a debit card, through which funds will be sent to your bank account.
        </p>
        <br>
        <p>
          There is a 5% processing fee on the season payments made by each player.
        </p>
        <br>
        <p>
          We've created a team for you, with a name, color and logo which you can edit by clicking the "Edit" button next to the team name.
        </p>

      </div>
    </div>


    <div id="season-cost-card-container">
      <%= render 'season_cost_card', team: @team,  team_season: @team_season, payment: @payment %>
    </div>

    <div class="card checkout-team-card">
      <%= form_tag kickoff_path, id: "payment-form" do %>
      <!-- <form id="payment-form"> -->
        <div class="card-content">
          <span class="payment-errors"></span>
          <div class="card-title">
            Debit Card
          </div>

          <p class="debit-explanation">
            We require a <b>debit card</b>, not a credit card, for you to create a season because when your teammates pay for the season, the money will be instantly transferred to your bank account via debit card.
          </p>

          <div class="row">
            <div class="input-field col s12 m12 l12">
              <input class="ccInput cc-num" type="tel" size="20" placeholder="&#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;  &#8226;&#8226;&#8226;&#8226;" autocompletetype="cc-number" data-stripe="number">
              <span class="card-icon" aria-hidden="true"></span>
              <label>
                Card Number
              </label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6 m6 l6">
              <input class="ccInput cc-exp" type="tel" size="2" placeholder="MM/YY" autocompletetype="cc-exp" data-stripe="exp">
              <label>
                Expiration
              </label>
            </div>
            <div class="input-field col s6 m6 l6">
              <input class="ccInput cc-cvc" type="tel" size="4" placeholder="&#8226;&#8226;&#8226;" autocomplete="off" data-stripe="cvc">
              <label>
                CVC
              </label>
            </div>
          </div>

          <input type="hidden" name="ts" value="<%= @team_season.id %>">

          <%# TODO: Change this currency to be a select as I add more countries %>
          <input type="hidden" value="usd" data-stripe="currency">


          <p class="agreement-line">
            By registering as a team treasurer you agree to our <%= link_to 'terms of service', tos_path, target: '_blank' %> and the <%= link_to 'Stripe Connected Account Agreement', "https://stripe.com/us/connect-account/legal", target: '_blank' %>.
          </p>

        </div>
        <div class="card-action edit-profile-actions">
          <input type="submit" class="submit waves-effect waves-light btn white blue-grey-text" value="Pay <%= number_to_currency(@payment[:charge_amount] / 100.0) %>">
        </div>
      <% end %>
      <!-- </form> -->
    </div>

  </div>
<!-- </div> -->

<script>
  Stripe.setPublishableKey("<%= ENV['stripe_publishable_key'] %>");
  $('input.cc-num').payment('formatCardNumber');
  $('input.cc-exp').payment('formatCardExpiry');
  $('input.cc-cvc').payment('formatCardCVC');

  var validateDetails = function() {

    var expiry = $('.cc-exp').payment('cardExpiryVal');
    var validateExpiry = $.payment.validateCardExpiry(expiry["month"], expiry["year"]);
    var validateCVC = $.payment.validateCardCVC($('.cc-cvc').val());

    if (validateExpiry) {
      $('.cc-exp').addClass('identified');
      $('.cc-exp').addClass('valid');
    } else {
      $('.cc-exp').removeClass('identified');
      $('.cc-exp').removeClass('valid');
    }

    if (validateCVC) {
      $('.cc-cvc').addClass('identified');
      $('.cc-cvc').addClass('valid');
    } else {
      $('.cc-cvc').removeClass('identified');
      $('.cc-cvc').removeClass('valid');
    }


    if (Stripe.validateCardNumber($('input.cc-num').val())) {
      $('.cc-num').addClass("valid");
      $('.cc-num').removeClass("invalid");
    } else {
      $('.cc-num').removeClass("valid");
      $('.cc-num').addClass("invalid");
    }

  }

  $('.ccInput').bind('change paste keyup', function() {
    validateDetails();
  });

  $(function() {
    var $form = $('#payment-form');

    $form.submit(function(event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('.submit').prop('disabled', true);

      console.log("form:", $form)

      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });

  function stripeResponseHandler(status, response) {

    // Grab the form:
    var $form = $('#payment-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.payment-errors').show();
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;
      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  };
</script>
