<%= form_for(contact_property) do |f| %>
  <div class="card-content">
    <% if contact_property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact_property.errors.count, "error") %> prohibited this contact_property from being saved:</h2>

        <ul>
        <% contact_property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">

      <div class="input-field col s12 m12 l12">
        <%= f.label :property %>
        <%= f.text_field :property %>
      </div>

      <div class="input-field col s12 m6 l6">
        <%= f.select :data_type, options_for_select([
          ['Text', "text", {disabled: false, selected: true}],
          ['Date','date'],
          ['Number', 'number']
          ]) %>
        <%= f.label :type %>
      </div>

      <div class="input-field col s12 m6 l6">
        <div id="tableSwitch" class="switch">
          <label>
            Hide from table
            <%= f.check_box :show_in_table %>
            <span class="lever"></span>
            Show on table
          </label>
        </div>
      </div>

    </div>


  </div>
  <div class="edit-profile-actions card-action">
    <%= button_tag(id: "submit", type: 'submit', class: "btn waves-effect waves-light") do %>
      Save
    <% end %>
  </div>

<% end %>

<script>
  $('#tableSwitch').prop('checked')
</script>
