<div class="container">
  <div class="card team-card">
    <div class="card-content">

<table class="bordered responsive-table highlight">
  <thead>
    <tr>
      <% if current_person.has_role?(:super_admin) %>
      <th>ID</th>
      <th>Org</th>
      <% end %>
      <th>Property</th>
      <th>Type</th>
      <th>Display</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <div id="default-properties-container">
      <%= render 'default_property_rows' %>
    </div>

    <% @contact_properties.each do |contact_property| %>
      <tr>
        <% if current_person.has_role?(:super_admin) %>
          <td><%= contact_property.id %></td>
          <td><%= contact_property.org.name %></td>
        <% end %>
        <td><%= contact_property.property %></td>
        <td><%= contact_property.data_type %></td>
        <td><%= contact_property.show_in_table.to_s %></td>
        <!-- <td><%= link_to 'Show', contact_property %></td> -->
        <td><%= link_to 'Edit', edit_contact_property_path(contact_property) %></td>
        <td><%= link_to 'Destroy', contact_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a href="<%= new_contact_property_path %>" class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
</div>

<script>
document.addEventListener('turbolinks:load', function() {

  $("#tagsSwitch").bind('change', function(){

    $.ajax({
      url: '/profiles/<%= current_person.id %>/toggle',
      type: 'POST',
      data: {
        "property": "show_contact_tags_in_table",
        "value": $('#tagsSwitch input[type=checkbox]').prop('checked')
      }
    });
  });

  $("#phoneSwitch").on('change', function(){

    $.ajax({
      url: '/profiles/<%= current_person.id %>/toggle',
      type: 'POST',
      data: {
        "property": "show_contact_phone_in_table",
        "value": $('#phoneSwitch input[type=checkbox]').prop('checked')
      }
    });
  });

  $("#emailSwitch").on('change', function(){

    $.ajax({
      url: '/profiles/<%= current_person.id %>/toggle',
      type: 'POST',
      data: {
        "property": "show_contact_email_in_table",
        "value": $('#emailSwitch input[type=checkbox]').prop('checked')
      }
    });
  });

  $("#nextTaskSwitch").on('change', function(){

    $.ajax({
      url: '/profiles/<%= current_person.id %>/toggle',
      type: 'POST',
      data: {
        "property": "show_contact_next_task_in_table",
        "value": $('#nextTaskSwitch input[type=checkbox]').prop('checked')
      }
    });
  });

  $("#lastActivitySwitch").on('change', function(){

    $.ajax({
      url: '/profiles/<%= current_person.id %>/toggle',
      type: 'POST',
      data: {
        "property": "show_contact_last_activity_in_table",
        "value": $('#lastActivitySwitch input[type=checkbox]').prop('checked')
      }
    });
  });
});
</script>
