<div class="container">
  <div class="card team-card">
    <div class="card-content">

<table class="bordered">
  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Display</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_properties.each do |contact_property| %>
      <tr>
        <td><%= contact_property.property %></td>
        <td><%= contact_property.data_type %></td>
        <td><%= contact_property.show_in_table.to_s %></td>
        <!-- <td><%= link_to 'Show', contact_property %></td> -->
        <td><%= link_to 'Edit', edit_contact_property_path(contact_property) %></td>
        <td><%= link_to 'Destroy', contact_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a href="<%= new_contact_property_path %>" class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
</div>
