<p id="notice"><%= notice %></p>

<h1>Contact Properties</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Org</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_properties.each do |contact_property| %>
      <tr>
        <td><%= contact_property.property %></td>
        <td><%= contact_property.org %></td>
        <td><%= link_to 'Show', contact_property %></td>
        <td><%= link_to 'Edit', edit_contact_property_path(contact_property) %></td>
        <td><%= link_to 'Destroy', contact_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Property', new_contact_property_path %>
